<template>
  <div class="page">
    <div class="page" v-if="Object.keys(item).length">
      <div class="header">
        <h1 class="title">Редактирование составного товара: "{{ item.title }}"</h1>
        <a :href="link" class="button is-primary" target="_blank">
          <span class="icon">
            <i class="fa fa-external-link"></i>
          </span>
          <span>Посмотреть на сайте</span>
        </a>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <form @submit.prevent="onSubmit">
              <div class="field">
                <label class="label" for="complect_items_add">Товары из комплекта</label>
                <div class="control">
                  <autocomplete :options="{class: 'input'}" api="search.items.get" query="article" id="complect_items_add" @select="addItemComplex" v-model="complex"></autocomplete>
                  <div class="tags" style="margin-top: 5px">
                    <span class="tag is-large" v-for="complexСolor in form.item_complex_colors">
                      {{ complexСolor.title }}
                      <div class="delete" @click.prevent="removeItemComplexСolor(complexСolor)"></div>
                    </span>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="label">Цвета</div>
                <div class="control">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Цвет</th>
                      <th>Артикул</th>
                      <th>Остатки</th>
                      <th>Основной</th>
                      <th>Наценка</th>
                      <th v-for="complexСolor in form.item_complex_colors">{{ complexСolor.title }}</th>
                      <th></th>
                    </tr>
                    </thead>
                    <draggable element="tbody" v-model="form.item_colors" :options="{draggable: '.item', handle: '.handle', forceFallback: true}" @change="changeItemColorOrd">
                      <tr class="item" v-for="itemColor in form.item_colors" :key="itemColor.ord">
                        <td>
                          <div class="select is-fullwidth">
                            <select v-model.number="itemColor.color" @change="changeItemColor(itemColor.color, $event)">
                              <option v-for="color in colors" v-if="itemColor.color == color.id || !form.item_colors.some((item_color) => {return item_color.color == color.id})" :value="color.id">{{ color.name }}</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <input class="input" v-model="itemColor.code" @input="changeItemColor(itemColor.color, $event)" :class="form.item_colors.filter((item_color) => item_color.code === itemColor.code).length > 1 ? 'is-danger' : ''">
                        </td>
                        <td>{{ itemColor.remains }}</td>
                        <td>
                          <div class="radio">
                            <input type="radio" name="main" :checked="itemColor.main" @change="changeItemColor(itemColor.color, $event)">
                          </div>
                        </td>
                        <td>
                          <div class="select is-fullwidth">
                            <select v-model="itemColor.add_price" @change="changeItemColor(itemColor.color, $event)">
                              <option :value="key" v-for="(additionalPrice, key) in additionalPrices">
                                <template v-if="additionalPrice === 0">Нет</template>
                                <template v-else>+{{ additionalPrice }}%</template>
                              </option>
                            </select>
                          </div>
                        </td>
                        <td v-for="complexСolor in form.item_complex_colors">
                          <div class="select" v-if="complexes[complexСolor.id]">
                            <select class="select" v-model="itemColor.complex_color[complexСolor.id].component_item_color" @change="changeItemColor(itemColor.color, $event)">
                              <option :value="color.color" v-for="color in complexes[complexСolor.id].item_colors">{{ colors[color.color].name }}</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="field is-grouped is-pulled-right">
                            <div class="control">
                              <button class="button handle" type="button"><i class="fa fa-arrows"></i></button>
                            </div>
                            <div class="control">
                              <button class="button is-danger" @click="removeColor(itemColor)" type="button"><i class="fa fa-remove"></i></button>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr slot="footer">
                        <td colspan="6">
                          <button class="button is-primary" @click="addColor" type="button">Добавить</button>
                        </td>
                      </tr>
                    </draggable>
                  </table>
                </div>
              </div>
              <button class="button is-primary is-large is-circle is-fixed" :class="isSending ? 'is-loading' : ''" v-bind:disabled="isSending">
                <span class="icon is-medium">
                  <i class="fa fa-floppy-o"></i>
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <not-found-component v-else></not-found-component>
  </div>
</template>

<script>
  import errorParser from '@/helpers/error-parser'
  import formattingToSend from '@/helpers/formatting-to-send'
  import objectToFormData from '@/helpers/object-to-formdata'

  import Api from '@/api'
  import File from '@/components/File'
  import Tab from '@/components/Tab'
  import Tabs from '@/components/Tabs'
  import Autocomplete from '@/components/Autocomplete'

  import draggable from 'vuedraggable'

  import store from '@/store'
  import router from '@/router'

  import NotFoundComponent from '@/views/NotFoundComponent'

  export default {
    components: {
      Autocomplete, NotFoundComponent, File, Tab, Tabs, draggable},
    name: 'content-complex-items',
    watch: {
      item () {
        this.form = Object.assign(this.form, this.item)
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      Api.contentComplex.get({id: this.itemId}).then(({body}) => {
        this.additionalPrices = body.AdditionalPrices
        this.colors = body.Colors

        this.link = body.link

        const item = body.Item

        item.item_colors.forEach(itemColor => {
          const complexColors = {}

          itemColor.complex_color.forEach(complexColor => {
            complexColors[complexColor.component_item_id] = {
              component_item_color: complexColor.component_item_color
            }
          })

          itemColor.complex_color = complexColors
        })

        this.item = item

        this.item.item_complex_colors.forEach(complex => {
          this.getComplexData(complex.id)
        })

        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    data () {
      return {
        item: {},
        link: '',
        form: {
          item_colors: [],
          item_complex_colors: []
        },
        isSending: false,
        itemId: store.state.route.params.id,
        itemComplexСolor: {
          deleted: [],
          added: []
        },
        itemColors: {
          deleted: [],
          replaced: []
        },
        complex: '',
        additionalPrices: [],
        colors: [],
        complexes: {}
      }
    },
    methods: {
      onSubmit () {
        if (!this.isSending) {
          this.isSending = true

          let data = {_method: 'PUT'}

          data = objectToFormData(formattingToSend({
            ...data,
            item_colors: this.itemColors,
            item_complex_colors: this.itemComplexСolor
          }))

          Api.contentComplex.save({id: this.item.id}, data).then(({body}) => {
            router.go(-1)
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })

            this.isSending = false
          })
        }
      },
      addColor () {
        const complexesColor = {}

        this.form.item_complex_colors.forEach(complexColor => {
          complexesColor[complexColor.id] = {}
        })

        const length = this.itemColors.replaced.push({
          id: 0,
          add_price: 0,
          code: this.form.title || '',
          main: +!this.form.item_colors.length,
          ord: this.form.item_colors.length + 1,
          complex_color: complexesColor
        })

        this.form.item_colors.push(this.itemColors.replaced[length - 1])
      },
      removeColor (color) {
        if (color.id) {
          this.itemColors.deleted.push(color.color)
        }

        if (this.itemColors.replaced.some(elem => elem === color)) {
          this.itemColors.replaced.splice(this.itemColors.replaced.findIndex(elem => elem === color), 1)
        }

        if (this.form.item_colors.some(elem => elem === color)) {
          this.form.item_colors.splice(this.form.item_colors.findIndex(elem => elem === color), 1)
        }

        this.form.item_colors.findIndex(el => el === color)
      },
      changeItemColor (colorId, event) {
        if (event.isTrusted) {
          const color = this.form.item_colors.find(el => +el.color === +colorId)
          if (color && color.id && (this.itemColors.replaced.findIndex(elem => elem === color) === -1)) {
            this.itemColors.replaced.push(color)
          }

          if (event.target && event.target.getAttribute('name') === 'main') {
            this.form.item_colors.forEach(itemColor => {
              if (itemColor.main === 1) {
                itemColor.main = 0

                if (itemColor.id && (!this.itemColors.replaced.length || this.itemColors.replaced.some(elem => elem !== itemColor))) {
                  this.itemColors.replaced.push(itemColor)
                }
              }
            })

            color.main = 1
          }
        }
      },
      changeItemColorOrd (event) {
        this.form.item_colors.forEach((itemColor, index) => {
          const ord = index + 1

          if (itemColor.ord !== ord) {
            itemColor.ord = ord
            this.changeItemColor(itemColor.color, {isTrusted: true})
          }
        })
      },
      addItemComplex (item) {
        if (this.itemComplexСolor.deleted.some(itemComplex => itemComplex === item.id)) {
          this.form.item_complex_colors.push(item)
          this.itemComplexСolor.deleted.splice(this.itemComplexСolor.deleted.findIndex(itemComplexСolor => itemComplexСolor === item.id), 1)
        } else {
          if (!this.form.item_complex_colors.some(itemComplexСolor => itemComplexСolor.id === item.id)) {
            this.form.item_complex_colors.push(item)
            this.itemComplexСolor.added.push(item)
          }
        }

        this.form.item_colors.forEach(itemColor => {
          itemColor.complex_color[item.id] = {}
        })

        this.getComplexData(item.id)

        this.complex = ''
      },
      removeItemComplexСolor (item) {
        this.form.item_complex_colors.splice(this.form.item_complex_colors.findIndex(itemComplex => itemComplex === item), 1)

        this.form.item_colors.forEach(itemColor => {
          delete itemColor.complex_color[item.id]
        })

        if (this.itemComplexСolor.added.some(itemComplex => itemComplex.id === item.id)) {
          this.itemComplexСolor.added.splice(this.itemComplexСolor.added.findIndex(itemComplex => itemComplex.id === item.id), 1)
        } else {
          this.itemComplexСolor.deleted.push(item.id)
        }
      },
      getComplexData (id) {
        if (!this.complexes[id]) {
          Api.contentItems.get({id: id}).then(({body}) => {
            this.$set(this.complexes, id, body.Item)
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })
          })
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "~bulma/sass/utilities/_all";

  .table-slug {
    margin-bottom: 0;
  }

  .field.has-addons {
    width: 100%;
  }

  .field.is-horizontal > label {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }

  .panel-tags {
    max-height: 411px;
    overflow: auto;
  }

  .image-container {
    display: flex;

    > *:not(last-child) {
      margin-right: .75rem;
    }
  }

  .table {
    td,
    th {
      vertical-align: middle;
    }
  }

  .handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }

  .item.sortable-chosen {
    background-color: $primary;
    color: #fff;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .title {
    margin-bottom: 0;
  }
</style>