<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="control has-icons-left">
            <input class="input input-head" placeholder="Поиск" v-model="search" ref="input" @keyup.enter="goIfOne">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <div class="menu">
            <div class="panel">
              <p class="panel-heading">{{ category.title }}</p>
              <template v-for="item in foundItem">
                <router-link class="panel-block" :to="{ name: 'content-complex-items', params: { id: item.id }}" :class="item.enabled ? '' : 'panel-block_disabled'">
                  <template v-if="!item.enabled">
                    <i class="fa fa-trash-o"></i>
                  </template>
                  <span v-html="$options.filters.search(item.title, search)"></span>
                </router-link>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import store from '@/store'
  import router from '@/router'
  import Message from '@/components/Message'
  import Api from '@/api'

  import errorParser from '@/helpers/error-parser'

  export default {
    components: {Message},
    name: 'content-items-list',
    data () {
      return {
        search: store.state.route.query.search,
        category: {},
        items: []
      }
    },
    computed: {
      foundItem () {
        if (this.search) {
          return this.items.filter(item => new RegExp(this.search, 'i').test(item.title))
        } else {
          return this.items
        }
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      const categoryId = store.state.route.params.id

      this.$refs.input.focus()

      Promise.all([Api.contentCategories.get({id: categoryId}).then(res => {
        this.category = res.body
      }), Api.items.getList({subcategoryId: categoryId}).then(res => {
        this.items = res.body.data
      })]).then(() => {
        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    watch: {
      search: function (val) {
        const query = {...store.state.route.query}

        query.search = val || undefined

        router.replace({query})
      }
    },
    methods: {
      goIfOne () {
        if (this.foundItem.length === 1) {
          router.push({
            name: 'content-hot',
            params: {
              id: this.foundItem[0].id
            }
          })
        }
      }
    },
    filters: {
      search (value, search) {
        return search ? value.replace(new RegExp(search, 'ig'), '<mark>$&</mark>') : value
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~bulma/sass/utilities/initial-variables";

  .input-head {
    margin-bottom: 15px;
  }

  .panel-block {
    justify-content: space-between;
  }

  .panel-block_disabled {
    background-color: $white-bis;
  }

  .panel-block_disabled .fa-trash-o {
    margin-right: 5px;
  }
</style>