<template>
  <div class="page">
    <div class="page" v-if="Object.keys(item).length">
      <h1 class="title">Редактирование товара: "{{ item.title }}"</h1>
      <div class="columns">
        <div class="column">
          <div class="box">
            <form>
              <div class="field">
                <label class="label">Составные предметы</label>
                <div class="control">
                  <autocomplete :options="{class: 'input'}" api="search.items.get" query="article" @select="addComplex" v-model="autocompleteComplex"></autocomplete>
                  <div class="tags">
                    <div class="tag is-large" v-for="complexColor in form.item_complex_colors">
                      {{ complexColor.title }}
                      <div class="delete"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">Цвета</label>
                <div class="control">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Цвет</th>
                        <th>Артикул</th>
                        <th>Остатки</th>
                        <th>Основной</th>
                        <th>Наценка</th>
                        <th v-for="complexColor in form.item_complex_colors">{{ complexColor.title }}</th>
                        <th></th>
                      </tr>
                    </thead>
                    <draggable element="tbody" :options="{draggable: '.item', handle: '.handle', forceFallback: true}" @end="changeItemColorOrd">
                      <tr v-for="itemColor in form.item_colors" class="item">
                        <td>
                          <div class="select">
                            <select v-model.number="itemColor.color" @change="changed">
                              <option v-for="(color, key) in colors" v-if="itemColor.color == key || !form.item_colors.some((item_color) => item_color.color == key)" :value="key">{{ color }}</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <input class="input" v-model="itemColor.code" @change="changed" />
                        </td>
                        <td>{{ itemColor.remains }}</td>
                        <td><input type="radio" :checked="itemColor.main" @change="changeItemColorMain(itemColor)"></td>
                        <td>
                          <div class="select">
                            <select v-model="itemColor.add_price" @change="changed">
                              <option :value="key" v-for="(additionalPrice, key) in additionalPrices">
                                <template v-if="additionalPrice === 0">Нет</template>
                                <template v-else>+{{ additionalPrice }}%</template>
                              </option>
                            </select>
                          </div>
                        </td>
                        <td v-for="complexColor in form.item_complex_colors">
                          <div class="select">
                            <select class="select" @change="changed" v-model.number="itemColor.complex[complexColor.id]">
                              <option value="0">чёрный</option>
                              <option value="1">серый</option>
                              <option value="2">белый</option>
                              <option value="3">коричневый</option>
                              <option value="4">бежевый</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="field is-grouped is-pulled-right">
                            <div class="control">
                              <button class="button handle" type="button"><i class="fa fa-arrows"></i></button>
                            </div>
                            <div class="control">
                              <button class="button is-danger" type="button" @click="form.item_colors.splice(form.item_colors.findIndex(el => el === itemColor), 1)"><i class="fa fa-remove"></i></button>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr slot="footer">
                        <td colspan="6">
                          <button class="button is-primary" type="button" @click="addItemColor">Добавить</button>
                        </td>
                      </tr>
                    </draggable>
                  </table>
                </div>
              </div>
              <button class="button is-primary is-large is-circle is-fixed" :class="isSending ? 'is-loading' : ''" v-bind:disabled="isSending || !isChanged" @click="send">
                <span class="icon is-medium">
                  <i class="fa fa-floppy-o"></i>
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <not-found-component v-else></not-found-component>
  </div>
</template>

<script>
  import draggable from 'vuedraggable'

  import Api from '@/api'
  import store from '@/store'
  import router from '@/router'

  import Autocomplete from '@/components/Autocomplete'
  import ContentItemForm from '@/components/ContentItemForm'

  import NotFoundComponent from '@/views/NotFoundComponent'

  import errorParser from '@/helpers/error-parser'
  import formattingToSend from '@/helpers/formatting-to-send'
  import objectToFormData from '@/helpers/object-to-formdata'

  import { detailedDiff } from 'deep-object-diff'

  export default {
    name: 'content-complex-items',
    components: {Autocomplete, ContentItemForm, NotFoundComponent, draggable},
    data () {
      return {
        id: store.state.route.params.id,

        changes: {
          added: {},
          deleted: {},
          updated: {}
        },

        item: {},
        form: {},

        colors: {},
        additionalPrices: [],

        autocompleteComplex: '',
        isSending: false
      }
    },
    computed: {
      isChanged () {
        return !!(Object.keys(this.changes.added).length || Object.keys(this.changes.deleted).length || Object.keys(this.changes.updated).length)
      }
    },
    watch: {
      item () {
        this.form = {...{}, ...this.form, ...this.item}
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      Api.contentComplex.get({id: this.id}).then(({body}) => {
        this.item = body.Item
        this.colors = body.Colors
        this.additionalPrices = body.AdditionalPrices

        this.item.item_colors.forEach(itemColor => {
          itemColor.complex = itemColor.complex || {}
        })

        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    methods: {
      changed () {
        this.changes = detailedDiff(this.item, this.form)
      },
      addItemColor () {
        this.form.item_colors.push({
          add_price: this.form.item_colors.length ? 2 : 0,
          main: +!this.form.item_colors.length
        })

        this.changed()
      },
      changeItemColorOrd (event) {
        const newIndex = event.newIndex + 1
        const oldIndex = event.oldIndex + 1

        if (newIndex > oldIndex) {
          this.form.item_colors.forEach(itemColor => {
            if (itemColor.ord === oldIndex) {
              itemColor.ord = newIndex
            } else if (newIndex >= itemColor.ord && oldIndex < itemColor.ord) {
              itemColor.ord -= 1
            }
          })
        } else {
          this.form.item_colors.forEach(itemColor => {
            if (itemColor.ord === oldIndex) {
              itemColor.ord = newIndex
            } else if (newIndex <= itemColor.ord && oldIndex > itemColor.ord) {
              itemColor.ord += 1
            }
          })
        }

        this.changed()
        return false
      },
      changeItemColorMain (color) {
        this.form.item_colors.forEach(itemColor => {
          itemColor.main = +(itemColor === color)
        })

        this.changed()
      },
      addComplex (item) {
        this.form.item_complex_colors.push(item)

        this.autocompleteComplex = ''

        this.changed()
      },
      send () {
        if (!this.isSending) {
          this.isSending = true

          let data = {
            _method: 'PUT'
          }

          Api.contentComplex.update({id: this.item.id}, objectToFormData(formattingToSend({...{}, ...data, ...this.changes}))).then(() => {
            this.changes = {}
            router.go(-1)
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })

            this.isSending = false
          })
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~bulma/sass/utilities/derived-variables";

  .tags {
    margin-top: 5px;
  }

  .table {
    td,
    th {
      vertical-align: middle;
    }
  }

  .handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }

  .item.sortable-chosen {
    background-color: $primary;
    color: #fff;
  }
</style>