<template>
  <div id="app">
    <notification></notification>
    <router-view></router-view>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic-ext,latin-ext" rel="stylesheet">
  </div>
</template>

<script>
import Notification from '@/components/Notification'

export default {
  components: {Notification},
  name: 'app'
}
</script>

<style lang="scss">
  @import '~bulma';
  @import '~vue2-animate/dist/vue2-animate.css';

  $fa-font-path: '~font-awesome/fonts/';
  @import '~font-awesome/scss/font-awesome';

  html,
  body,
  #app,
  #app > div:not([class]),
  #app > div:not([class]) .column:not(.aside),
  .page {
    height: 100%;

    @media print {
      padding: 3px;
    }
  }

  html {
    background-color: $white-bis;
  }

  .button.is-circle {
    border-radius: 50%;
  }

  .button.is-fixed {
    position: fixed;
    top: 140px;
    right: 30px;
    z-index: 5;
    box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);
  }

  .cursor-help {
    cursor: help;
  }

  .ql-editor {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
  }

  .file-input {
    opacity: 0;
  }

  .panel-block:visited {
    color: $blue;
  }

  .has-text-nowrap {
    white-space: nowrap;
  }

  .tabs-fixed {
    position: fixed;
    top: 12px;
    background-color: #fff;
    z-index: 30;
  }

  .image.is-36x36 {
    width: 36px;
    height: 36px;
  }

  .has-background-danger {
    background-color: $danger;
    color: #fff;
  }

  .has-background-success {
    background-color: $success;
    color: #fff;
  }

  .ql-container {
    min-height: 96px;
  }
</style>
