<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="columns is-narrow">
            <div class="column">
              <input class="input" placeholder="Артикул" v-model="article">
              <input class="input" placeholder="Код" v-model="code">
              <div class="select is-multiple items-select items-select-left">
                <select multiple size="12" ref="itemsLeft">
                  <option :value="item.id" v-for="item in items" v-if="!addedItems.find(addedItem => addedItem.id === item.id)">{{ `${item.title} (${item.code})` }}</option>
                </select>
              </div>
            </div>
            <div class="column items-center-column">
              <div class="button is-medium" @click="itemsToRight">
                <span class="icon is-large">
                  <i class="fa fa-angle-double-right"></i>
                </span>
              </div>
              <span>{{ addedItems.length }}</span>
              <div class="button is-medium" @click="itemsToLeft">
                <span class="icon is-large">
                  <i class="fa fa-angle-double-left"></i>
                </span>
              </div>
            </div>
            <div class="column">
              <div class="select is-multiple items-select items-select-right">
                <select multiple size="12" ref="itemsRight">
                  <option :value="item.id" v-for="item in addedItems">{{ `${item.title} (${item.code})` }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field" v-for="image in images">
            <div class="field">
              <div class="label">{{ image.title }}</div>
              <div class="control">
                <div class="image-container">
                  <div v-for="item in image.list">
                    <div class="field has-addons">
                      <div class="control">
                        <file ref="file" :label="item.title" @change.prevent="loadImage(item.id, $event)" accept="image/*" :id="`image[${item.id}]`"></file>
                      </div>
                      <div class="control is-expanded" v-if="addedImages[item.id]">
                        <div class="button is-danger" @click="removeImage(item.id)"><i class="fa fa-remove"></i></div>
                      </div>
                    </div>
                    <div class="field has-addons">
                      <label class="checkbox">
                        <input type="checkbox" @change="changeRemove(item.id, $event)">
                        Удалить
                      </label>
                    </div>
                    <img :src="addedImages[item.id]" v-if="addedImages[item.id]">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="button is-primary is-large is-circle is-fixed" :class="isSending ? 'is-loading' : ''" v-bind:disabled="isSending || !isChanged" @click="send">
      <span class="icon is-medium">
        <i class="fa fa-floppy-o"></i>
      </span>
    </button>
  </div>
</template>

<script>
  import Api from '@/api'
  import store from '@/store'

  import File from '@/components/File'

  import errorParser from '@/helpers/error-parser'
  import formattingToSend from '@/helpers/formatting-to-send'
  import objectToFormData from '@/helpers/object-to-formdata'
  import { beforeLeave, beforeUnload } from '@/helpers/confirm-end'

  import debounce from 'debounce'

  const getSelectValues = select => {
    const result = []
    const options = select && select.options
    let opt

    for (let i = 0, iLen = options.length; i < iLen; i++) {
      opt = options[i]

      if (opt.selected) {
        result.push(opt.value || opt.text)
      }
    }
    return result
  }

  export default {
    name: 'mass-images',
    data () {
      return {
        images: [
          {
            title: 'Изображение 1',
            list: [
              {
                title: '95x95',
                id: '5.jpg'
              },
              {
                title: '280x280',
                id: '1.jpg'
              }
            ]
          },
          {
            title: 'Изображение 2',
            list: [
              {
                title: '95x95',
                id: '6.jpg'
              },
              {
                title: '280x280',
                id: '2.jpg'
              }
            ]
          },
          {
            title: 'Изображение 3',
            list: [
              {
                title: '95x95',
                id: '7.jpg'
              },
              {
                title: '280x280',
                id: '3.jpg'
              }
            ]
          },
          {
            title: 'Схема',
            list: [
              {
                title: '95x95 для списков',
                id: '18.jpg'
              },
              {
                title: '95x95',
                id: '8.jpg'
              },
              {
                title: '280x280',
                id: '4.jpg'
              }
            ]
          },
          {
            title: 'Схема 2',
            list: [
              {
                title: '95x95',
                id: '30.jpg'
              },
              {
                title: '280x280',
                id: '29.jpg'
              }
            ]
          },
          {
            title: 'Применение',
            list: [
              {
                title: '95x95',
                id: '10.jpg'
              },
              {
                title: '280x280',
                id: '9.jpg'
              }
            ]
          },
          {
            title: 'Изображение для видео',
            list: [
              {
                title: '95x95',
                id: '17.jpg'
              }
            ]
          },
          {
            title: 'Изображение 4',
            list: [
              {
                title: '95x95',
                id: '14.jpg'
              },
              {
                title: '280x280',
                id: '11.jpg'
              }
            ]
          },
          {
            title: 'Изображение 5',
            list: [
              {
                title: '95x95',
                id: '15.jpg'
              },
              {
                title: '280x280',
                id: '12.jpg'
              }
            ]
          },
          {
            title: 'Изображение 6',
            list: [
              {
                title: '95x95',
                id: '16.jpg'
              },
              {
                title: '280x280',
                id: '13.jpg'
              }
            ]
          },
          {
            title: 'Изображение 7',
            list: [
              {
                title: '95x95',
                id: '24.jpg'
              },
              {
                title: '280x280',
                id: '19.jpg'
              }
            ]
          },
          {
            title: 'Изображение 8',
            list: [
              {
                title: '95x95',
                id: '25.jpg'
              },
              {
                title: '280x280',
                id: '20.jpg'
              }
            ]
          },
          {
            title: 'Изображение 9',
            list: [
              {
                title: '95x95',
                id: '26.jpg'
              },
              {
                title: '280x280',
                id: '21.jpg'
              }
            ]
          },
          {
            title: 'Изображение 10',
            list: [
              {
                title: '95x95',
                id: '27.jpg'
              },
              {
                title: '280x280',
                id: '22.jpg'
              }
            ]
          },
          {
            title: 'Изображение 11',
            list: [
              {
                title: '95x95',
                id: '28.jpg'
              },
              {
                title: '280x280',
                id: '23.jpg'
              }
            ]
          }
        ],
        addedImages: {},
        addedDeleteImages: [],
        addedItems: [],
        items: [],
        article: '',
        code: '',
        isSending: false
      }
    },
    computed: {
      isChanged () {
        return !!(this.addedItems.length + Object.keys(this.addedImages).length + this.addedDeleteImages.length)
      }
    },
    watch: {
      article () {
        this.searchItems()
      },
      code () {
        this.searchItems()
      }
    },
    components: {File},
    created () {
      window.addEventListener('beforeunload', this.handlerBeforeUnload)
    },
    methods: {
      send () {
        if (!this.isSending && this.isChanged) {
          this.isSending = true

          const data = objectToFormData(formattingToSend({
            _method: 'PUT',
            items: this.addedItems.map(item => item.id),
            delete: this.addedDeleteImages
          }))

          Object.keys(this.addedImages).forEach(image => {
            data.append(`images[${image}]`, document.getElementById(`image[${image}]`).files[0])
          })

          Api.contentItems.imageMultiChange(data).then(({body}) => {
            let text = 'Всё прошло успешно'

            if (Object.keys(body).length) {
              text += '\n\nНе обновлены картинки:'

              Object.entries(body).forEach(([article, images]) => {
                text += `\n <strong>${article}:</strong>`
                text += `\n ${images.join(', ')}`
              })
            }

            store.commit('notification/add', {
              type: 'success',
              text
            })

            this.isSending = false
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })

            this.isSending = false
          })
        }
      },
      loadImage (id, event) {
        const input = event.target

        if (input.files && input.files[0]) {
          const reader = new FileReader()

          reader.onload = e => {
            this.$set(this.addedImages, id, e.target.result)
          }

          reader.readAsDataURL(input.files[0])
        }
      },
      removeImage (id) {
        this.$delete(this.addedImages, id)
      },
      searchItems: debounce(function () {
        Api.search.items.get({article: this.article, code: this.code}).then(res => {
          this.items = res.body
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      }, 200),
      itemsToRight () {
        getSelectValues(this.$refs.itemsLeft).forEach(id => {
          this.addedItems.push(this.items[this.items.findIndex(item => item.id === +id)])
        })
      },
      itemsToLeft () {
        getSelectValues(this.$refs.itemsRight).forEach(id => {
          this.addedItems.splice(this.items[this.items.findIndex(item => item.id === +id)], 1)
        })
      },
      changeRemove (id, event) {
        if (event.target.checked) {
          this.addedDeleteImages.push(id)
        } else {
          const index = this.addedDeleteImages.findIndex(image => image === id)

          if (index !== -1) {
            this.addedDeleteImages.splice(index, 1)
          }
        }
      },
      handlerBeforeUnload (event) {
        beforeUnload(this, event)
      }
    },
    beforeRouteLeave (to, from, next) {
      beforeLeave(this, to, from, next)
    }
  }
</script>

<style scoped lang="scss">
  .image-container {
    display: flex;

    > *:not(last-child) {
      margin-right: .75rem;
    }
  }

  .items-center-column {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;

    > *:not(last-child) {
      margin-bottom: .75rem;
    }
  }

  .items-select select {
    width: 305px;
  }

  .items-select-left select {
    height: 446px;
  }

  .items-select-right select {
    height: 518px;
  }
</style>
