<template>
  <div class="page">
    <div class="header">
      <h1 class="title">{{ this.$route.meta.title }}</h1>
      <span>
        <button class="button is-primary" @click="changeTagsOrd()">Сохранить порядок</button>
        <router-link :to="{ name: 'content-tags-create' }" class="button">Добавить</router-link>
      </span>
    </div>
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="control has-icons-left">
            <input class="input input-head" placeholder="Поиск" v-model="search" ref="input">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <div class="menu">
            <draggable class="panel" v-model="tags" :options="{handle: '.handle', forceFallback: true}" @start="draggable=true" @end="draggable=false">
              <router-link :event="draggable ? '' : 'click'" class="panel-block" v-for="tag in tags.filter(tagFilter => new RegExp(this.search, 'i').test(tagFilter.title))" :to="{ name: routerNameItem, params: {id: tag.id}}" :key="tag.id">
                <span v-html="$options.filters.search(tag.title, search)"></span>
                <button class="button handle" type="button"><i class="fa fa-arrows"></i></button>
              </router-link>
            </draggable>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Api from '@/api'

  import store from '@/store'
  import router from '@/router'
  import Message from '@/components/Message'

  import errorParser from '@/helpers/error-parser'

  import draggable from 'vuedraggable'

  export default {
    components: {Message, draggable},
    name: 'content-tags-list',
    props: {
      routerNameItem: String,
      method: Function
    },
    data () {
      return {
        search: store.state.route.query.search,
        draggable: false,
        tags: []
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      this.$refs.input.focus()

      this.method().then(res => {
        this.tags = res.body
        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    watch: {
      search: function (val) {
        const query = {...store.state.route.query}

        query.search = val || undefined

        router.replace({query})
      }
    },
    filters: {
      search (value, search) {
        return search ? value.replace(new RegExp(search, 'ig'), '<mark>$&</mark>') : value
      }
    },
    methods: {
      changeTagsOrd () {
        const tags = {}

        this.tags.forEach((tag, index) => {
          tags[tag.id] = index
        })

        Api.contentTags.order(tags).then(() => {
          store.commit('notification/add', {
            type: 'success',
            text: 'Порядок тегов изменен',
            duration: 2000
          })
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .input-head {
    margin-bottom: 15px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .title {
    margin-bottom: 0;
  }

  .panel-block {
    justify-content: space-between;
  }

  .panel-block a {
    color: inherit;

    &:visited {
      color: #3273dc;
    }
  }

  .sortable-chosen {
    background-color: #00d1b2!important;
    color: #fff;
  }
</style>