<template>
  <div class="page">
    <h1 class="title">Заказ: №{{ id }}</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="table-wrap">
            <div>
              <table class="table is-hoverable">
                <tbody>
                  <tr>
                    <td>№</td>
                    <td>{{ order.id }}</td>
                  </tr>
                  <tr>
                    <td>Дата</td>
                    <td>{{ order.date }}</td>
                  </tr>
                  <tr>
                    <td>Тип</td>
                    <td>{{ order.type == 1 ? 'Компания' : 'Частное лицо' }}</td>
                  </tr>
                  <tr v-if="order.name">
                    <td>ФИО:</td>
                    <td>{{ order.name }}</td>
                  </tr>
                  <tr v-if="order.zip">
                    <td>Индекс:</td>
                    <td>{{ order.zip }}</td>
                  </tr>
                  <tr v-if="order.country">
                    <td>Страна:</td>
                    <td>{{ order.country }}</td>
                  </tr>
                  <tr v-if="order.city">
                    <td>Город:</td>
                    <td>{{ order.city }}</td>
                  </tr>
                  <tr v-if="order.address">
                    <td>Адрес:</td>
                    <td>{{ order.address }}</td>
                  </tr>
                  <tr v-if="order.phone">
                    <td>Телефон:</td>
                    <td>{{ order.phone }}</td>
                  </tr>
                  <tr v-if="order.email">
                    <td>E-mail:</td>
                    <td>{{ order.email }}</td>
                  </tr>
                  <template v-if="order.type == 1">
                    <tr v-if="order.company_name ">
                      <td>Название компании:</td>
                      <td>{{ order.company_name }}</td>
                    </tr>
                    <tr v-if="order.company_inn">
                      <td>ИНН:</td>
                      <td>{{ order.company_inn }}</td>
                    </tr>
                    <tr v-if="order.company_kpp">
                      <td>КПП:</td>
                      <td>{{ order.company_kpp }}</td>
                    </tr>
                    <tr v-if="order.company_bik">
                      <td>БИК:</td>
                      <td>{{ order.company_bik }}</td>
                    </tr>
                    <tr v-if="order.company_rs">
                      <td>Расчетный счет:</td>
                      <td>{{ order.company_rs }}</td>
                    </tr>
                    <tr v-if="order.comments">
                      <td>Комментарии</td>
                      <td>{{ order.comments }}</td>
                    </tr>
                  </template>
                  <template v-else>
                    <tr v-if="order.person_passport_series">
                      <td>Серия паспорта:</td>
                      <td>{{ order.person_passport_series }}</td>
                    </tr>
                    <tr v-if="order.person_passport_number">
                      <td>Номер паспорта:</td>
                      <td>{{ order.person_passport_number }}</td>
                    </tr>
                  </template>
                  <template v-if="order.free_delivery">
                    <tr>
                      <td>Способ доставки</td>
                      <td>Бесплатная доставка</td>
                    </tr>
                  </template>
                  <template v-else>
                    <tr>
                      <td>Способ доставки</td>
                      <td>
                        {{ order.delivery_company }}
                      </td>
                    </tr>
                    <tr v-if="order.delivery_type">
                      <td>Адрес доставки</td>
                      <td>
                        {{ order.delivery_type }}
                      </td>
                    </tr>
                    <tr>
                      <td>Стоимость доставки</td>
                      <td>
                        {{ order.delivery_price }}
                      </td>
                    </tr>
                    <tr v-if="order.files && order.files.length">
                      <td>Файл с реквизитами</td>
                      <td>
                        <a download :href="'/rin/api/sales/order/download-file/' + id">{{ order.files[0].filename }} ({{ (order.files[0].filesize / 1024 / 1024).toFixed(2) }} МБ)</a>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
            <div v-if="order.items">
              <table class="table is-hoverable">
                <thead>
                  <tr>
                    <th>№</th>
                    <th>Артикул</th>
                    <th>Фото</th>
                    <th>Цена, руб. за 1 шт.</th>
                    <th>Кол-во, шт.</th>
                    <th>Сумма, руб.</th>
                  </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in order.items">
                  <td>{{ index + 1 }}</td>
                  <td>{{ item.title }}</td>
                  <td><img :src="item.image" v-if="item.image"></td>
                  <template v-if="item.promo">
                    <td colspan="3">Бесплатные образцы</td>
                  </template>
                  <template v-else>
                    <td class="has-text-nowrap">{{ item.price }}</td>
                    <td class="has-text-nowrap">{{ item.quant }}</td>
                    <td class="has-text-nowrap">{{ item.total_price }}</td>
                  </template>
                </tr>
                <tr>
                  <th colspan="4"></th>
                  <th>Итого:</th>
                  <th class="has-text-nowrap">{{ order.total_price }}</th>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import errorParser from '@/helpers/error-parser'

  import store from '@/store'

  import Api from '@/api'

  export default {
    name: 'management-orders',
    data () {
      return {
        order: {},
        messageIsSending: false,
        id: store.state.route.params.id
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      Api.salesOrders.get({id: this.id}).then(({body}) => {
        this.order = body
        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    methods: {
      sendMessage () {
        this.messageIsSending = true
        Api.salesOrderSendMessage.save({id: this.id}).then(({body}) => {
          this.messageIsSending = false
        }, res => {
          this.messageIsSending = false
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  .table-wrap {
    display: flex;

    @media print {
      & {
        flex-direction: column;

        .table {
          width: 100%;
        }
      }
    }

    > :not(:last-child) {
      margin-right: 15px;
    }
  }
</style>