<template>
  <div class="page">
    <h1 class="title has-text-centered">Здраствуйте, {{ user.name }}.</h1>
    <april-first-button></april-first-button>
    <div class="box">
      <h2 class="is-size-5">Обновление админки от 25.05.2021</h2>
      <ul>
        <li>В карточке товара созданы вкладки: Технические характеристики, Seo и реклама, Цвета и цены</li>
        <li>В карточке товара, во вкладку Seo и реклама перенесены поля: Заголовок h1, Заголовок для динамической рекламы, Описание для динамической рекламы, Название для яндекса, meta title, meta description, meta keywords</li>
        <li>В карточке товара, во вкладку Цвета и цены перенесено всё что связано с ценами</li>
        <li>В карточке товара, во вкладку Характеристики перенесены: Габариты изделия, форма/размеры, подходит для труб, материал, вес 1шт (гр)</li>
        <li>В карточке категории создана вкладка Seo и реклама. В неё перенесено поле: название H1</li>
        <li>В карточке категории во вкладке Seo и реклама добавлены поля meta title, meta description, meta keywords</li>
        <li>Раздел Нижние тэги переименован в подборки товаров!</li>
      </ul>
    </div>
  </div>
</template>

<script>
  import store from '@/store'
  import AprilFirstButton from '@/components/AprilFirstButton'

  export default {
    components: {
      AprilFirstButton
    },
    name: 'hello',
    data () {
      return {
        user: {}
      }
    },
    mounted () {
      this.user = store.state.user
    }
  }
</script>
