<template>
  <div class="page">
    <div class="column-form">
      <h1 class="title">Авторизация</h1>
      <form v-on:submit.prevent="onSubmit">
        <div class="field">
          <label class="label" for="email">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="Введите email" id="email" v-model="auth.email">
          </div>
        </div>
        <div class="field">
          <label class="label" for="password">Пароль</label>
          <div class="control">
            <input class="input" type="password" placeholder="Введите пароль" id="password" v-model="auth.password">
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary" :class="state === 'pending' ? 'is-loading' : ''">Войти</button>
          </div>
        </div>
      </form>
      <a href="/password/reset" class="link-recovery">Забыли пароль?</a>
    </div>
  </div>
</template>

<script>
  import store from '@/store'
  import router from '@/router'

  export default {
    name: 'login',
    data () {
      return {
        state: undefined,
        auth: {
          email: '',
          password: ''
        }
      }
    },
    methods: {
      onSubmit () {
        if (this.$data.state !== 'pending') {
          this.$data.state = 'pending'

          store.dispatch('user/login', this.$data.auth).then(() => {
            if (this.$route.query && this.$route.query.path) {
              router.push(this.$route.query.path)
            } else {
              router.push('/')
            }
            this.$data.state = undefined
          }, () => {
            this.$data.state = undefined
          })
        }
      }
    }
  }
</script>

<style lang="scss">
  @import "~bulma/sass/utilities/initial-variables";

  .column-form {
    width: 320px;

    background-color: white;
    border-radius: $radius-large;

    padding: 0.75rem;
  }
</style>

<style scoped lang="scss">
  .columns.is-centered.page {
    margin: 0;
  }

  .page {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link-recovery {
    display: inline-block;
    margin-top: 6px;
  }
</style>
