<template>
  <div class="page">
    <h1 class="title">Настройки приложения</h1>
    <div class="content">
      <settings-emails class="block" />
      <settings-app class="block" />
    </div>
  </div>
</template>

<script>
  import SettingsEmails from '@/components/SettingsEmails.vue'
  import SettingsApp from '@/components/SettingsApp.vue'

  export default {
    components: {
      SettingsEmails,
      SettingsApp
    },
    name: 'settings'
  }
</script>

<style scoped>
  .content {
    max-width: 720px;
  }
</style>