<template>
  <div class="page">
    <div class="page" v-if="Object.keys(item).length">
      <h1 class="title">Редактирование баннера: "{{ item.title }}"</h1>
      <div class="columns">
        <div class="column">
          <div class="box">
            <content-hot-form :item="item" method="update"></content-hot-form>
          </div>
        </div>
      </div>
    </div>
    <not-found-component v-else></not-found-component>
  </div>
</template>

<script>
  import store from '@/store'
  import Api from '@/api'

  import NotFoundComponent from '@/views/NotFoundComponent'

  import ContentHotForm from '@/components/ContentHotForm'
  import decodeHtmlEntities from '@/helpers/decode-html-entities'
  import errorParser from '@/helpers/error-parser'

  export default {
    name: 'content-hot',
    components: {
      NotFoundComponent,
      ContentHotForm},
    data () {
      return {
        item: {},
        id: store.state.route.params.id
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      Api.contentItemsHot.get({id: this.id}).then(({body}) => {
        const item = body

        Object.entries(item).forEach(([key, value]) => {
          if (key === 'title') {
            item[key] = decodeHtmlEntities(value)
          }
        })

        this.item = item

        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    beforeRouteLeave (to, from, next) {
      this.$emit('beforeLeave', to, from, next)
    }
  }
</script>