<template>
  <activity :method="method" :methodData="{}"></activity>
</template>

<script>
  import Api from '@/api'
  import Activity from '@/components/Activity.vue'

  export default {
    name: 'admin-activity-list',
    components: { Activity },
    data () {
      return {
        method: Api.activity.getList
      }
    }
  }
</script>
