<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <pagination ref="topPagination" :initialPage="getCurrentPage" :pageCount="totalPages" @pageSelected="setPage"></pagination>
          <div class="table-wrap" :class="isSending ? 'table-wrap-disabled' : ''" v-if="activities.length">
            <div class="box" v-for="activity in activities">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <div>
                      <router-link :to="{ name: 'admin-activity-user', params: { id: activity.causer.id } }" v-if="activity.causer.name">
                        <span class="tag is-warning">{{ activity.causer.name }}</span>
                      </router-link >
                      <span class="tag is-primary" v-if="activity.subject_name">{{ activity.subject_name }}</span>
                      <template v-if="typeof activity.subject_type === 'number' && activity.subject_type < 6">
                        <router-link :to="getRouteBySubjectType(activity.subject_type, activity.subject_id)">
                          <span class="tag is-info">
                            <template v-if="activity.subject">
                              <template v-if="activity.subject.title">
                                {{ activity.subject.title }}
                              </template>
                              <template v-else-if="activity.subject.name">
                                {{ activity.subject.name }}
                              </template>
                              <template v-else-if="activity.subject.code">
                                {{ activity.subject.code }}
                              </template>
                              <template v-else>
                                id: {{ activity.subject_id }}
                              </template>
                            </template>
                            <template v-else>
                              id: {{ activity.subject_id }}
                            </template>
                          </span>
                        </router-link>
                      </template>
                      <template v-else>
                        <span class="tag is-info">
                          <template v-if="activity.subject">
                            <template v-if="activity.subject.title">
                              {{ activity.subject.title }}
                            </template>
                            <template v-else-if="activity.subject.name">
                              {{ activity.subject.name }}
                            </template>
                            <template v-else-if="activity.subject.code">
                              {{ activity.subject.code }}
                            </template>
                            <template v-else>
                              id: {{ activity.subject_id }}
                            </template>
                          </template>
                          <template v-else>
                            id: {{ activity.subject_id }}
                          </template>
                        </span>
                      </template>
                      <span class="tag is-light" :title="$options.filters.date(activity.created_at)">{{ activity.created_at | fromNow }}</span>
                      <div v-if="activity && activity.properties.diff" v-for="(diffs, key) in activity.properties.diff">
                        <div>
                          <strong>{{ key | fieldName(activity.subject_type) }}:</strong>
                        </div>
                        <div class="changes">
                          <div>
                            <div class="message">
                              <div class="message-body">
                                <template v-for="diff in diffs">
                                  <span v-if="!diff.added" :class="diff.removed ? 'has-background-danger' : ''">{{ diff.value }}</span>
                                </template>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div class="message">
                              <div class="message-body">
                                <div class="message">
                                  <template v-for="diff in diffs">
                                    <span v-if="!diff.removed" :class="diff.added ? 'has-background-success' : ''">{{ diff.value }}</span>
                                  </template>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div v-if="activity.description === 'created'" >
                        <span class="has-background-success">Создал</span>
                      </div>
                      <div v-if="activity.description === 'deleted'">
                        <span class="has-background-danger">Удалил</span>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div v-else>Список пуст</div>
          <pagination ref="bottomPagination" :initialPage="getCurrentPage" :pageCount="totalPages" @pageSelected="setPage"></pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import errorParser from '@/helpers/error-parser'
  import { format, fromNow } from '@/helpers/date'
  import getNameFieldByTypeAndKey from '@/helpers/getNameFieldByTypeAndKey'

  import store from '@/store'
  import router from '@/router'

  import Pagination from '@/components/Pagination'

  const jsdiff = require('diff')

  export default {
    name: 'activity',
    components: { Pagination },
    props: {
      method: Function,
      methodData: Object
    },
    data () {
      return {
        activities: [],
        isSending: false,
        totalPages: 1,
        currentPage: store.state.route.query.page || 1
      }
    },
    computed: {
      getCurrentPage () {
        return +this.currentPage - 1
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      this.setPage(this.currentPage).then(() => {
        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    methods: {
      setPage (page) {
        this.isSending = true
        this.currentPage = page

        console.log(this.currentPage)

        if (+page !== this.$refs.bottomPagination.selected) {
          this.$refs.bottomPagination.selected = +page - 1
        }

        if (+page !== this.$refs.topPagination.selected) {
          this.$refs.topPagination.selected = +page - 1
        }

        this.methodData.page = page
        return this.method(this.methodData).then(({body}) => {
          this.isSending = false

          body.data.forEach(activity => {
            if (activity.properties && activity.properties.old && activity.description === 'updated') {
              activity.properties.diff = activity.properties.diff || {}

              Object.entries(activity.properties.old).forEach(([key, params]) => {
                if (params !== undefined && activity.properties.attributes[key] !== undefined) {
                  activity.properties.diff[key] = jsdiff.diffChars(
                    params === null ? '' : params.toString(),
                    activity.properties.attributes[key] === null ? '' : activity.properties.attributes[key].toString()
                  )
                }
              })
            }
          })

          this.activities = body.data
          this.totalPages = body.last_page
          this.currentPage = body.current_page
        }, res => {
          this.isSending = false
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      },
      changeRouteQuery (key, value) {
        const query = {...store.state.route.query}

        query[key] = value || undefined

        router.replace({query})
      },
      getSubjectNameByType (subjectType) {
        switch (subjectType) {
          case 4: {
            return 'item'
          }
          default: {
            return subjectType
          }
        }
      },
      getRouteBySubjectType (subjectType, subjectId) {
        const SUBJECT_ORDER = 1
        const SUBJECT_CATEGORY = 2
        const SUBJECT_TAG = 3
        const SUBJECT_ITEM = 4
        const SUBJECT_COLOR = 5

        switch (subjectType) {
          case SUBJECT_ORDER:
            return {
              name: 'management-orders',
              params: {
                id: subjectId
              }
            }
          case SUBJECT_CATEGORY:
            return {
              name: 'content-categories',
              params: {
                id: subjectId
              }
            }
          case SUBJECT_TAG:
            return {
              name: 'content-tags',
              params: {
                id: subjectId
              }
            }
          case SUBJECT_ITEM:
            return {
              name: 'content-items',
              params: {
                id: subjectId
              }
            }
          case SUBJECT_COLOR:
            return {
              name: 'content-list-colors'
            }
          default:
            return false
        }
      }
    },
    watch: {
      currentPage (value) {
        this.changeRouteQuery('page', value)
      }
    },
    filters: {
      date: (date) => format(date),
      fromNow: (date) => fromNow(date),
      fieldName: (field, subjectType) => {
        return getNameFieldByTypeAndKey(this.a.methods.getSubjectNameByType(subjectType), field)
      }
    }
  }
</script>

<style scoped lang="scss">
  .table tbody tr {
    cursor: pointer;
  }

  .table-wrap {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .table-wrap-disabled {
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(230, 230, 230, 0.65);
    }
  }

  .changes {
    display: flex;

    > *:first-child {
      margin-right: 10px;
    }

    > *:last-child {
      margin-left: 10px;
    }
  }
</style>