<template>
  <form @submit.prevent="onSubmit">
    <tabs class="field" classTabs="tabs-fixed">
      <tab name="Основное">
        <div class="field is-horizontal">
          <label class="checkbox">
            <input type="checkbox" id="enabled" v-model="form.enabled">
            Включено
          </label>
        </div>
        <div class="field field-1 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="cat_id">Категория</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div :class="{'select is-fullwidth': true, 'is-danger': errorBag.has('cat_id') }">
                  <select id="cat_id" name="cat_id" v-model="form.cat_id" v-validate="{required: true}">
                    <template v-for="category in categories">
                      <optgroup :label="category.title">
                        <option :value="subcategory.id" v-for="subcategory in category.subcategories">{{ subcategory.title }}</option>
                      </optgroup>
                    </template>
                  </select>
                </div>
                <div v-show="errorBag.has('cat_id')" class="help is-danger">{{ errorBag.first('cat_id') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="field field-1 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="add_cat_id">Дополнительная категория</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div :class="{'select is-fullwidth': true, 'is-danger': errorBag.has('add_cat_id') }">
                  <select id="add_cat_id" name="add_cat_id" v-model="form.add_cat_id">
                    <option :value="null"></option>
                    <template v-for="category in categories">
                      <optgroup :label="category.title">
                        <option :value="subcategory.id" v-for="subcategory in category.subcategories">{{ subcategory.title }}</option>
                      </optgroup>
                    </template>
                  </select>
                </div>
                <div v-show="errorBag.has('add_cat_id')" class="help is-danger">{{ errorBag.first('add_cat_id') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="field field-1 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="code">Код</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input id="code" v-model="form.code" name="code" :class="{'input': true, 'is-danger': errorBag.has('code') }" data-vv-as="Код">
                <div v-show="errorBag.has('code')" class="help is-danger">{{ errorBag.first('code') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="field field-1 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="title">Артикул</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" id="title" v-model="form.title" name="title" :class="{'input': true, 'is-danger': errorBag.has('title') }">
                <div v-show="errorBag.has('title')" class="help is-danger">{{ errorBag.first('title') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label" for="name">Название</label>
          <div class="field">
            <div class="control">
              <input :class="{'input': true, 'is-danger': errorBag.has('name') }" id="name" v-model="form.name">
              <div v-show="errorBag.has('name')" class="help is-danger">{{ errorBag.first('name') }}</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label" for="under_title">Надпись под артикулом</label>
          <div class="field">
            <div class="control">
              <textarea :class="{'textarea': true, 'is-danger': errorBag.has('under_title') }" id="under_title" v-model="form.under_title"></textarea>
              <div v-show="errorBag.has('under_title')" class="help is-danger">{{ errorBag.first('under_title') }}</div>
            </div>
            <div class="control" style="margin-top: 10px;">
              <div class="select" v-if="form.under_title">
                <select id="under_title_color" name="under_title_color" v-model="form.under_title_color">
                  <option value="">Серый</option>
                  <option value="primary">Оранжевый</option>
                  <option value="secondary">Зеленый</option>
                </select>
              </div>
            </div>
            <div class="control" v-if="form.under_title">
              <div class="promo" :class="'promo_' + form.under_title_color" v-if="form.under_title" v-html="form.under_title.replace(/(?:\r\n|\r|\n)/g, '<br/>')"></div>
            </div>
          </div>
        </div>

        <label class="label">Принудительный порядок</label>
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="field has-addons no-margin-bottom">
              <div class="control"><a class="button is-static">В поиске</a></div>
              <div class="control">
                <input type="number" step="any" id="custom_search_position" v-model.number="form.custom_search_position" :class="{'input': true, 'is-danger': errorBag.has('custom_search_position') }">
              </div>
            </div>
            <div v-show="errorBag.has('custom_search_position')" class="help is-danger">{{ errorBag.first('custom_search_position') }}</div>
          </div>
          <div class="control">
            <div class="field has-addons no-margin-bottom">
              <div class="control"><a class="button is-static">В категории</a></div>
              <div class="control">
                <input type="number" step="any" id="custom_cat_position" v-model.number="form.custom_cat_position" :class="{'input': true, 'is-danger': errorBag.has('custom_cat_position') }">
              </div>
            </div>
            <div v-show="errorBag.has('custom_cat_position')" class="help is-danger">{{ errorBag.first('custom_cat_position') }}</div>
          </div>
          <div class="control">
            <div class="field has-addons no-margin-bottom">
              <div class="control"><a class="button is-static">В тэге</a></div>
              <div class="control">
                <input type="number" step="any" id="custom_tag_position" v-model.number="form.custom_tag_position" :class="{'input': true, 'is-danger': errorBag.has('custom_tag_position') }">
              </div>
            </div>
            <div v-show="errorBag.has('custom_tag_position')" class="help is-danger">{{ errorBag.first('custom_tag_position') }}</div>
          </div>
        </div>

        <div class="field is-horizontal is-left-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="production">Производитель</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input id="production" v-model="form.production" :class="{'input': true, 'is-danger': errorBag.has('production') }">
                <div v-show="errorBag.has('production')" class="help is-danger">{{ errorBag.first('production') }}</div>
              </div>
            </div>
          </div>
        </div>
        


        
        <div class="field">
          <label class="label" for="short_descr">Краткое описание (Заказать, Корзина)</label>
          <span class="control">
            <textarea name="short_descr" id="short_descr" v-model="form.short_descr" :class="{'textarea': true, 'is-danger': errorBag.has('short_descr') }"></textarea>
            <div v-show="errorBag.has('short_descr')" class="help is-danger">{{ errorBag.first('short_descr') }}</div>
          </span>
        </div>
        <div class="field">
          <label class="label">Полное описание (Страница товара)</label>
          <quill-editor content=" " v-model="form.descr" :options="editorOption" ref="quill"></quill-editor>
          <div v-show="errorBag.has('descr')" class="help is-danger">{{ errorBag.first('descr') }}</div>
        </div>
        <div class="field field-3 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="same_items_add">Рекомендуем посмотреть</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <autocomplete :options="{class: 'input' + (errorBag.has('same') ? ' is-danger' : '')}" api="search.items.get" query="article" id="same_items_add" @select="addItemSame" v-model="same"></autocomplete>
                <div v-show="errorBag.has('same')" class="help is-danger">{{ errorBag.first('same') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tags" style="margin-top: 5px">
          <span class="tag is-large" v-for="same in form.item_same">
            {{ same.title }}
            <div class="delete" @click.prevent="removeItemSame(same)"></div>
          </span>
        </div>
        <div class="field field-3 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="complect_items_add">Товары из комплекта</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <autocomplete :options="{class: 'input' + (errorBag.has('complex') ? ' is-danger' : '')}" api="search.items.get" query="article" id="complect_items_add" @select="addItemComplex" v-model="complex"></autocomplete>
                <div v-show="errorBag.has('complex')" class="help is-danger">{{ errorBag.first('complex') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tags" style="margin-top: 5px">
          <span class="tag is-large" v-for="complex in form.item_complex">
            {{ complex.title }}
            <div class="delete" @click.prevent="removeItemComplex(complex)"></div>
          </span>
        </div>
   
      </tab>

      <tab name="Упаковочные данные">
        <div class="field field-4 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="preorder_availability_days_min">Минимальный срок доставки "под заказ" (дней)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="number" step="any" id="preorder_availability_days_min" v-model.number="form.preorder_availability_days_min" :class="{'input': true, 'is-danger': errorBag.has('preorder_availability_days_min') }">
                <div v-show="errorBag.has('preorder_availability_days_min')" class="help is-danger">{{ errorBag.first('preorder_availability_days_min') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="field field-4 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="preorder_availability_days_max">Максимальный срок доставки "под заказ" (дней)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="number" step="any" id="preorder_availability_days_max" v-model.number="form.preorder_availability_days_max" :class="{'input': true, 'is-danger': errorBag.has('preorder_availability_days_max') }">
                <div v-show="errorBag.has('preorder_availability_days_max')" class="help is-danger">{{ errorBag.first('preorder_availability_days_max') }}</div>
              </div>
            </div>
          </div>
        </div>
        <h4 class="subtitle is-4">Упаковка</h4>
        <div class="field field-5 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="pack_size">Количество в упаковке (шт.)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="number" step="any" name="pack_size" id="pack_size" v-model.number="form.pack_size" :class="{'input': true, 'is-danger': errorBag.has('pack_size') }">
                <div v-show="errorBag.has('pack_size')" class="help is-danger">{{ errorBag.first('pack_size') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="field field-5 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="prop_pack_weight_gross">Вес брутто упаковки (кг.)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="number" step="any" name="prop_pack_weight_gross" id="prop_pack_weight_gross" v-model.number="form.prop_pack_weight_gross" :class="{'input': true, 'is-danger': errorBag.has('prop_pack_weight_gross') }">
                <div v-show="errorBag.has('prop_pack_weight_gross')" class="help is-danger">{{ errorBag.first('prop_pack_weight_gross') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="field field-5 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="prop_pack_weight_net">Вес нетто упаковки (кг.)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="number" step="any" name="prop_pack_weight_net" id="prop_pack_weight_net" v-model.number="form.prop_pack_weight_net" :class="{'input': true, 'is-danger': errorBag.has('prop_pack_weight_net') }">
                <div v-show="errorBag.has('prop_pack_weight_net')" class="help is-danger">{{ errorBag.first('prop_pack_weight_net') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="field field-5 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="prop_pack_volume">Объем упаковки (м³)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="number" step="any" name="prop_pack_volume" id="prop_pack_volume" v-model.number="form.prop_pack_volume" :class="{'input': true, 'is-danger': errorBag.has('prop_pack_weight_net') }">
                <div v-show="errorBag.has('prop_pack_volume')" class="help is-danger">{{ errorBag.first('prop_pack_volume') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="field field-5 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="prop_package">Тип упаковки</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div :class="{'select is-fullwidth': true, 'is-danger': errorBag.has('prop_package') }">
                  <select id="prop_package" name="prop_package" v-model="form.prop_package">
                    <option :value="null"></option>
                    <option v-for="propPackage in propsPackage" :value="propPackage.id">{{ propPackage.title }}</option>
                  </select>
                </div>
                <div v-show="errorBag.has('prop_package')" class="help is-danger">{{ errorBag.first('prop_package') }}</div>
              </div>
            </div>
          </div>
        </div>
        <label class="label">Габариты упаковки (мм.)</label>
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="field has-addons no-margin-bottom">
              <div class="control"><a class="button is-static">Ширина</a></div>
              <div class="control">
                <input step="any" name="prop_pack_width" id="prop_pack_width" v-model.number="form.prop_pack_width" @input="changePropPack" :class="{'input': true, 'is-danger': errorBag.has('prop_pack_width') }">
              </div>
            </div>
            <div v-show="errorBag.has('prop_pack_width')" class="help is-danger">{{ errorBag.first('prop_pack_width') }}</div>
          </div>
          <div class="control">
            <div class="field has-addons no-margin-bottom">
              <div class="control"><a class="button is-static">Глубина</a></div>
              <div class="control">
                <input type="number" step="any" name="prop_pack_length" id="prop_pack_length" v-model.number="form.prop_pack_length" @input="changePropPack" :class="{'input': true, 'is-danger': errorBag.has('prop_pack_length') }">
              </div>
            </div>
            <div v-show="errorBag.has('prop_pack_length')" class="help is-danger">{{ errorBag.first('prop_pack_length') }}</div>
          </div>
          <div class="control">
            <div class="field has-addons no-margin-bottom">
              <div class="control"><a class="button is-static">Высота</a></div>
              <div class="control">
                <input type="number" step="any" name="prop_pack_height" id="prop_pack_height" v-model.number="form.prop_pack_height" @input="changePropPack" :class="{'input': true, 'is-danger': errorBag.has('prop_pack_height') }">
              </div>
            </div>
            <div v-show="errorBag.has('prop_pack_height')" class="help is-danger">{{ errorBag.first('prop_pack_height') }}</div>
          </div>
        </div>


        <h4 class="subtitle is-4">Паллета</h4>
        <label class="label">Габариты паллеты (мм.)</label>
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="field has-addons no-margin-bottom">
              <div class="control"><a class="button is-static">Ширина</a></div>
              <div class="control">
                <input type="number" step="any" name="prop_pellet_width" id="prop_pellet_width" v-model.number="form.prop_pellet_width" :class="{'input': true, 'is-danger': errorBag.has('prop_pellet_width') }">
              </div>
            </div>
            <div v-show="errorBag.has('prop_pellet_width')" class="help is-danger">{{ errorBag.first('prop_pellet_width') }}</div>
          </div>
          <div class="control">
            <div class="field has-addons no-margin-bottom">
              <div class="control"><a class="button is-static">Глубина</a></div>
              <div class="control">
                <input type="number" step="any" name="prop_pellet_length" id="prop_pellet_length" v-model.number="form.prop_pellet_length" :class="{'input': true, 'is-danger': errorBag.has('prop_pellet_length') }">
              </div>
            </div>
            <div v-show="errorBag.has('prop_pellet_length')" class="help is-danger">{{ errorBag.first('prop_pellet_length') }}</div>
          </div>
          <div class="control">
            <div class="field has-addons no-margin-bottom">
              <div class="control"><a class="button is-static">Высота</a></div>
              <div class="control">
                <input type="number" step="any" name="prop_pellet_height" id="prop_pellet_height" v-model.number="form.prop_pellet_height" :class="{'input': true, 'is-danger': errorBag.has('prop_pellet_height') }">
              </div>
            </div>
            <div v-show="errorBag.has('prop_pellet_height')" class="help is-danger">{{ errorBag.first('prop_pellet_height') }}</div>
          </div>
        </div>
        <div class="field is-horizontal is-left-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="prop_pellet_quant_pack">Количество на паллете (уп.)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="number" step="any" name="prop_pellet_quant_pack" id="prop_pellet_quant_pack" v-model.number="form.prop_pellet_quant_pack" :class="{'input': true, 'is-danger': errorBag.has('prop_pellet_quant_pack') }">
                <div v-show="errorBag.has('prop_pellet_quant_pack')" class="help is-danger">{{ errorBag.first('prop_pellet_quant_pack') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Количество на паллете (шт.)</label>
          <span class="control">
            {{ form.prop_pellet_quant_pack * form.pack_size }}
          </span>
        </div>
        <div class="field">
          <label class="label">Вес нетто паллеты (кг.)</label>
          <span class="control">
            {{ form.prop_pack_weight_net * form.prop_pellet_quant_pack }}
          </span>
        </div>
        <div class="field">
          <label class="label">Вес брутто паллеты (кг.)</label>
          <span class="control">
            {{ form.prop_pack_weight_gross * form.prop_pellet_quant_pack + 15 }}
          </span>
        </div>
        <div class="field">
          <label class="label">Объем паллеты (м³)</label>
          <span class="control">
            {{ form.prop_pellet_width * form.prop_pellet_length * form.prop_pellet_height / 1000000000 }}
          </span>
        </div>
      </tab>
      <tab name="Фото и видео">
        <div class="field" v-for="image in images">
          <div class="field">
            <div class="label">{{ image.title }}</div>
            <div class="control">
              <div class="image-container">
                <content-item-image :label="item.title" :id="item.id" :item="form" :images="itemImages" :key="item.id" v-for="item in image.list" :method="method"></content-item-image>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab name="Тэги">
        <div class="field">
          <div class="label">Тэги для основной категории</div>
          <div class="control">
            <div class="panel panel-tags">
              <label class="panel-block" v-for="tag in tags">
                <input type="checkbox" :value="tag.id" :checked="form.tags && ((form.tags.find((itemTag) => itemTag.id == tag.id) && !itemTags.deleted.find((itemTagsDeleted) => itemTagsDeleted == tag.id)) || itemTags.added.find((itemTagsAdded) => itemTagsAdded == tag.id))" @change="changeTag">
                <span v-html="(tag.top_level ? '[' : '') + tag.title + (tag.top_level ? ']' : '')"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="label">Тэги для дополнительной категории</div>
          <div class="control">
            <div class="panel panel-tags">
              <label class="panel-block" v-for="tag in addTags">
                <input type="checkbox" :value="tag.id" :checked="form.add_tags && ((form.add_tags.find((itemTag) => itemTag.id == tag.id) && !itemAddTags.deleted.find((itemAddTagsDeleted) => itemAddTagsDeleted == tag.id)) || itemAddTags.added.find((itemAddTagsAdded) => itemAddTagsAdded == tag.id))" @change="changeAddTag">
                <span v-html="(tag.top_level ? '[' : '') + tag.title + (tag.top_level ? ']' : '')"></span>
              </label>
            </div>
          </div>
        </div>
      </tab>
      <tab name="Цвета и цены">

        <div class="field">
          <div class="label">Цвета</div>
          <div class="control">
            <table class="table">
              <thead>
                <tr>
                  <th>Цвет</th>
                  <th>Особенности монтажа</th>
                  <th>Артикул</th>
                  <th>Остатки</th>
                  <th>Основной</th>
                  <th>Наценка</th>
                  <th></th>
                </tr>
              </thead>
              <draggable element="tbody" v-model="form.item_colors" :options="{draggable: '.item', handle: '.handle', forceFallback: true}" @change="changeItemColorOrd">
                <tr class="item" v-for="itemColor in form.item_colors" :key="itemColor.ord">
                  <td>
                    <div class="select is-fullwidth">
                      <select v-model.number="itemColor.color" @change="changeItemColor(itemColor.color, $event)">
                        <option v-for="color in colors" :value="color.id">{{ color.name }}</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="select is-fullwidth">
                        <select v-model="itemColor.prop_features" @change="changeItemColor(itemColor.color, $event)">
                            <option value="0" selected></option>
                            <template v-if="itemColor.prop_features === 45">
                                <option value="45" selected>Под резину</option>
                            </template>
                            <template v-else>
                                <option value="45">Под резину</option>
                            </template>
                            <template v-if="itemColor.prop_features === 46">
                                <option value="46" selected>Под засыпку</option>
                            </template>
                            <template v-else>
                                <option value="46">Под засыпку</option>
                            </template>
                        </select>
                    </div>
                  </td>
                  <td>
                    <input class="input" v-model="itemColor.code" @input="changeItemColor(itemColor.color, $event)" :class="form.item_colors.filter((item_color) => item_color.code === itemColor.code).length > 1 ? 'is-danger' : ''">
                  </td>
                  <td>{{ itemColor.remains }}</td>
                  <td>
                    <div class="radio">
                      <input type="radio" :checked="itemColor.main" name="main" @change="changeItemColor(itemColor.color, $event)">
                    </div>
                  </td>
                  <td>
                    <div class="select is-fullwidth">
                      <select v-model="itemColor.add_price" @change="changeItemColor(itemColor.color, $event)">
                        <option :value="key" v-for="(additionalPrice, key) in additionalPrices">
                          <template v-if="additionalPrice === 0">Нет</template>
                          <template v-else>+{{ additionalPrice }}%</template>
                        </option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="field is-grouped is-pulled-right">
                      <div class="control">
                        <button class="button handle" type="button"><i class="fa fa-arrows"></i></button>
                      </div>
                      <div class="control">
                        <button class="button is-danger" @click="removeColor(itemColor)" type="button"><i class="fa fa-remove"></i></button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr slot="footer">
                  <td colspan="6">
                    <button class="button is-primary" @click="addColor" type="button">Добавить</button>
                  </td>
                </tr>
              </draggable>
            </table>
          </div>
        </div>


        <div class="field is-horizontal">
          <label class="checkbox">
            <input type="checkbox" id="two_price" v-model="form.two_price">
            Отображать только 2 цены
          </label>
        </div>
        <div class="field is-horizontal">
          <label class="checkbox">
            <input type="checkbox" id="hide_remains" v-model="form.hide_remains">
            Не отображать остатки
          </label>
        </div>
        <div class="field is-horizontal">
          <label class="checkbox">
            <input type="checkbox" id="price_main" v-model="form.price_main">
            Выводить цены только основного цвета
          </label>
        </div>
        <label class="label">Цена основной цвет</label>
        <table class="table">
          <thead>
            <tr>
              <th>розница</th>
              <th>от 100</th>
              <th>от 500</th>
              <th>от 1 000</th>
              <th>от 5 000</th>
              <th>от 10 000</th>
              <th>от 30 000</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="number" step="any" name="price0" id="price0" v-model.number="form.price0" :class="{'input': true, 'is-danger': errorBag.has('price0') }">
                <div v-show="errorBag.has('price0')" class="help is-danger">{{ errorBag.first('price0') }}</div>
              </td>
              <td>
                <input type="number" step="any" name="price1" id="price1" v-model.number="form.price1" :class="{'input': true, 'is-danger': errorBag.has('price1') }">
                <div v-show="errorBag.has('price1')" class="help is-danger">{{ errorBag.first('price1') }}</div>
              </td>
              <td>
                <input type="number" step="any" name="price2" id="price2" v-model.number="form.price2" :class="{'input': true, 'is-danger': errorBag.has('price2') }">
                <div v-show="errorBag.has('price2')" class="help is-danger">{{ errorBag.first('price2') }}</div>
              </td>
              <td>
                <input type="number" step="any" name="price3" id="price3" v-model.number="form.price3" :class="{'input': true, 'is-danger': errorBag.has('price3') }">
                <div v-show="errorBag.has('price3')" class="help is-danger">{{ errorBag.first('price3') }}</div>
              </td>
              <td>
                <input type="number" step="any" name="price4" id="price4" v-model.number="form.price4" :class="{'input': true, 'is-danger': errorBag.has('price4') }">
                <div v-show="errorBag.has('price4')" class="help is-danger">{{ errorBag.first('price4') }}</div>
              </td>
              <td>
                <input type="number" step="any" name="price5" id="price5" v-model.number="form.price5" :class="{'input': true, 'is-danger': errorBag.has('price5') }">
                <div v-show="errorBag.has('price5')" class="help is-danger">{{ errorBag.first('price5') }}</div>
              </td>
              <td>
                <input type="number" step="any" name="price6" id="price6" v-model.number="form.price6" :class="{'input': true, 'is-danger': errorBag.has('price6') }">
                <div v-show="errorBag.has('price6')" class="help is-danger">{{ errorBag.first('price6') }}</div>
              </td>
            </tr>
          </tbody>
        </table>
        <label class="label">Цена другие цвета</label>
        <table class="table">
          <thead>
            <tr>
              <th>розница</th>
              <th>от 100</th>
              <th>от 500</th>
              <th>от 1 000</th>
              <th>от 5 000</th>
              <th>от 10 000</th>
              <th>от 30 000</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="number" step="any" name="add_price0" id="add_price0" v-model.number="form.add_price0" :class="{'input': true, 'is-danger': errorBag.has('add_price0') }">
                <div v-show="errorBag.has('add_price0')" class="help is-danger">{{ errorBag.first('add_price0') }}</div>
              </td>
              <td>
                <input type="number" step="any" name="add_price1" id="price1" v-model.number="form.add_price1" :class="{'input': true, 'is-danger': errorBag.has('add_price1') }">
                <div v-show="errorBag.has('add_price1')" class="help is-danger">{{ errorBag.first('add_price1') }}</div>
              </td>
              <td>
                <input type="number" step="any" name="add_price2" id="price2" v-model.number="form.add_price2" :class="{'input': true, 'is-danger': errorBag.has('add_price2') }">
                <div v-show="errorBag.has('add_price2')" class="help is-danger">{{ errorBag.first('add_price2') }}</div>
              </td>
              <td>
                <input type="number" step="any" name="price3" id="add_price3" v-model.number="form.add_price3" :class="{'input': true, 'is-danger': errorBag.has('add_price3') }">
                <div v-show="errorBag.has('add_price3')" class="help is-danger">{{ errorBag.first('add_price3') }}</div>
              </td>
              <td>
                <input type="number" step="any" name="add_price4" id="price4" v-model.number="form.add_price4" :class="{'input': true, 'is-danger': errorBag.has('add_price4') }">
                <div v-show="errorBag.has('add_price4')" class="help is-danger">{{ errorBag.first('add_price4') }}</div>
              </td>
              <td>
                <input type="number" step="any" name="add_price5" id="add_price5" v-model.number="form.add_price5" :class="{'input': true, 'is-danger': errorBag.has('add_price5') }">
                <div v-show="errorBag.has('add_price5')" class="help is-danger">{{ errorBag.first('add_price5') }}</div>
              </td>
              <td>
                <input type="number" step="any" name="add_price6" id="add_price6" v-model.number="form.add_price6" :class="{'input': true, 'is-danger': errorBag.has('add_price6') }">
                <div v-show="errorBag.has('add_price6')" class="help is-danger">{{ errorBag.first('add_price6') }}</div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="field is-horizontal">
          <label class="checkbox">
            <input type="checkbox" id="only_two_prices" v-model="form.only_two_prices">
            Выводить фото в ценах. Изображения: 12, 13
          </label>
        </div>

        <div class="field is-horizontal">
          <label class="checkbox">
            <input type="checkbox" id="no_free_delivery" v-model="form.no_free_delivery">
            Не участвует в бесплатной доставке, стоимость доставки рассчитывается менеджером
          </label>
        </div>

        <div class="field is-horizontal">
          <label class="checkbox">
            <input type="checkbox" id="promo" v-model="form.promo">
            Доступны бесплатные образцы
          </label>
        </div>

        <div class="field is-horizontal">
          <label class="checkbox">
            <input type="checkbox" id="special" v-model="form.special">
            Особые условия
          </label>
        </div>

        <div class="field">
          <label class="label" for="name">Скидка</label>
          <div class="field">
            <div class="control">
              <input :class="{'input': true, 'is-danger': errorBag.has('special_price') }" id="special_price" v-model="form.special_price">
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <label class="checkbox">
            <input type="checkbox" id="recommend" v-model="form.recommend">
            Заглушка.Ру рекомендует
          </label>
        </div>
      </tab>
      <tab name="Характеристики">

     <label class="label">Габариты изделия (мм.)</label>
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="field has-addons no-margin-bottom">
              <div class="control"><a class="button is-static">Ширина</a></div>
              <div class="control">
                <input type="number" step="any" name="width" id="width" v-model.number="form.width" :class="{'input': true, 'is-danger': errorBag.has('width') }">
              </div>
            </div>
            <div v-show="errorBag.has('width')" class="help is-danger">{{ errorBag.first('width') }}</div>
          </div>
          <div class="control">
            <div class="field has-addons no-margin-bottom">
              <div class="control"><a class="button is-static">Глубина</a></div>
              <div class="control">
                <input type="number" step="any" name="length" id="length" v-model.number="form.length" :class="{'input': true, 'is-danger': errorBag.has('length') }">
              </div>
            </div>
            <div v-show="errorBag.has('length')" class="help is-danger">{{ errorBag.first('length') }}</div>
          </div>
          <div class="control">
            <div class="field has-addons no-margin-bottom">
              <div class="control"><a class="button is-static">Высота</a></div>
              <div class="control">
                <input type="number" step="any" name="height" id="height" v-model.number="form.height" :class="{'input': true, 'is-danger': errorBag.has('height') }">
              </div>
            </div>
            <div v-show="errorBag.has('height')" class="help is-danger">{{ errorBag.first('height') }}</div>
          </div>
        </div>

        <div class="field">
          <div class="label">Форма/размеры</div>
          <div class="control">
            <table class="table">
              <tr v-for="(itemSize, index) in form.item_sizes">
                <td>
                  <template v-if="itemSize.item_id">
                    {{ sizeTypes[itemSize.type] }}
                  </template>
                  <template v-else>
                    <div class="select is-fullwidth">
                      <select v-model="itemSize.type" @input="itemSizeChange(index)" @change="itemSize.size_ = $event.target.value">
                        <option v-for="(sizeType, key) in sizeTypes" :value="key">{{ sizeType }}</option>
                      </select>
                    </div>
                  </template>
                </td>
                <td>
                  <div class="field has-addons" v-if="[21].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Марка резьбы(например М6)</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_1 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_1 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[2, 3, 4, 5, 9].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Ширина</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_1 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_1 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[3, 4, 5, 6, 9].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Высота</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_2 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_2 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[1, 11].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Диаметр</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_1 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_1 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[14].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Длина резьбы</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_2 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_2 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[6, 8, 14, 15, 16].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Резьба</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_1 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_1 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[7, 10].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Размер</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_1 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_1 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[15, 16].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Размер рукоятки</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_2 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_2 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[6, 14].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Размер основания</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_3 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_3 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[10].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Стенка трубы</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_2 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_2 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[12, 13, 20].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Резьба M</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_1 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_1 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[12, 13, 20].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Шаг резьбы</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_2 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_2 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[12, 13, 20].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Дюймовая резьба GAS/BSP</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_3 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_3 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[12, 13, 20].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Шаг резьбы</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_4 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_4 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[12, 13, 20].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Дюймовая резьба UNF/JIC</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_5 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_5 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[12, 13, 20].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Шаг резьбы</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_6 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_6 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[17].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Внутренний диаметр</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_1 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_1 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[17].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Наружный диаметр</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_2 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_2 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[18].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Толщина латы</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @change="itemSizeChange(index)" @input="itemSize.size_1 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_1 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[18].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Ширина латы</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_2 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_2 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[19].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Толщина латы</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_2 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_2 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[19].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Ширина латы</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_3 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_3 | decodeHtmlEntities">
                    </div>
                  </div>
                  <div class="field has-addons" v-if="[19].indexOf(+itemSize.type) !== -1">
                    <div class="control">
                      <a class="button is-static">Диаметр трубы</a>
                    </div>
                    <div class="control is-expanded">
                      <input class="input" @input="itemSizeChange(index)" @change="itemSize.size_1 = $options.filters.encodeHtmlEntities($event.target.value)" step="any" :value="itemSize.size_1 | decodeHtmlEntities">
                    </div>
                  </div>
                </td>
                <td>
                  <div class="button is-danger" @click.prevent="removeItemSize(index)"><i class="fa fa-remove"></i></div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <button class="button is-primary" type="button" @click="addItemSize">Добавить</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="field has-addons">
            <div class="control">
              <span :class="{'select': true, 'is-danger': errorBag.has('prop_fit_pipe') }">
                <select name="prop_fit_pipe" v-model="form.prop_fit_pipe">
                  <option :value="propFit.id" v-for="propFit in propsFit">{{ propFit.title }}</option>
                </select>
              </span>
            </div>
            <div class="control is-expanded">
              <input :value="form.prop_pipes | decodeHtmlEntities" @input="itemPropPipesChange" :class="{'input': true, 'is-danger': errorBag.has('prop_pipes') }">
            </div>
          </div>
          <div v-show="errorBag.has('prop_fit_pipe')" class="help is-danger">{{ errorBag.first('prop_fit_pipe') }}</div>
          <div v-show="errorBag.has('prop_pipes')" class="help is-danger">{{ errorBag.first('prop_pipes') }}</div>
        </div>

        <h4 class="subtitle is-4">Характеристики</h4>

        <div class="field field-6 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="prop_matherial">Материал</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div :class="{'select is-fullwidth': true, 'is-danger': errorBag.has('prop_matherial') }">
                  <select id="prop_matherial" name="prop_matherial" v-model="form.prop_matherial">
                    <option :value="null"></option>
                    <option v-for="propMatherial in propsMaterial" :value="propMatherial.id">{{ propMatherial.title }}</option>
                  </select>
                </div>
                <div v-show="errorBag.has('prop_matherial')" class="help is-danger">{{ errorBag.first('prop_matherial') }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="field field-6 is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="prop_weight">Вес 1шт (гр.)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="number" step="any" name="prop_weight" id="prop_weight" v-model.number="form.prop_weight" :class="{'input': true, 'is-danger': errorBag.has('prop_weight') }">
                <div v-show="errorBag.has('prop_weight')" class="help is-danger">{{ errorBag.first('prop_weight') }}</div>
              </div>
            </div>
          </div>
        </div>

      </tab>
      <tab name="Seo и реклама">

        <div class="field">
          <label class="label" for="meta_title">Meta title</label>
          <div class="control">
            <input class="input" id="meta_title" v-model="form.meta_title">
          </div>
        </div>

        <div class="field">
          <label class="label" for="meta_description">Meta description</label>
          <div class="control">
            <input class="input" id="meta_description" v-model="form.meta_description">
          </div>
        </div>

        <div class="field">
          <label class="label" for="meta_keywords">Meta keywords</label>
          <div class="control">
            <input class="input" id="meta_keywords" v-model="form.meta_keywords">
          </div>

        <div class="field">
          <label class="label" for="name">Заголовок h1</label>
          <div class="field">
            <div class="control">
              <input :class="{'input': true, 'is-danger': errorBag.has('field_h1') }" class="input" id="field_h1" v-model="form.field_h1" v-validate="form.field_h1" data-vv-rules="unique">
              <div v-show="errorBag.has('field_h1')" class="help is-danger">{{ errorBag.first('field_h1') }}</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label" for="title_smart">Заголовок для динамической рекламы</label>
          <div class="field">
            <div class="control">
              <input :class="{'input': true, 'is-danger': errorBag.has('title_smart') }" id="name" v-model="form.title_smart">
              <div v-show="errorBag.has('title_smart')" class="help is-danger">{{ errorBag.first('title_smart') }}</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label" for="description_smart">Описание для динамической рекламы</label>
          <span class="control">
            <textarea name="description_smart" id="description_smart" v-model="form.description_smart" :class="{'textarea': true, 'is-danger': errorBag.has('description_smart') }"></textarea>
            <div v-show="errorBag.has('description_smart')" class="help is-danger">{{ errorBag.first('description_smart') }}</div>
          </span>
        </div>

        <div class="field is-left-horizontal is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="yandex_name">Название для яндекса</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input id="yandex_name" v-model="form.yandex_name" name="yandex_name" :class="{'input': true, 'is-danger': errorBag.has('yandex_name') }">
                <div v-show="errorBag.has('yandex_name')" class="help is-danger">{{ errorBag.first('yandex_name') }}</div>
              </div>
            </div>
          </div>
        </div>

      </tab>
    </tabs>
    <button class="button is-primary is-large is-circle is-fixed" :class="isSending ? 'is-loading' : ''" v-bind:disabled="isSending">
      <span class="icon is-medium">
        <i class="fa fa-floppy-o"></i>
      </span>
    </button>
  </form>
</template>

<script>
  import errorParser from '@/helpers/error-parser'
  import formattingToSend from '@/helpers/formatting-to-send'
  import objectToFormData from '@/helpers/object-to-formdata'

  import Api from '@/api'
  import File from '@/components/File'
  import Tab from '@/components/Tab'
  import Tabs from '@/components/Tabs'
  import Autocomplete from '@/components/Autocomplete'

  import { diff } from 'deep-object-diff'
  import draggable from 'vuedraggable'
  import { ErrorBag } from 'vee-validate'

  import store from '@/store'
  import router from '@/router'
  import ContentItemImage from '@/components/ContentItemImage'

  const changeTag = (tags, el, $vm) => {
    const id = +el.value
    const checked = +el.checked

    if (checked) {
      if (tags.deleted.indexOf(id) !== -1) {
        $vm.$delete(tags.deleted, tags.deleted.indexOf(id))
      } else {
        $vm.$set(tags.added, tags.added.length, id)
      }
    } else {
      if (tags.added.indexOf(id) !== -1) {
        $vm.$delete(tags.added, tags.added.indexOf(id))
      } else {
        $vm.$set(tags.deleted, tags.deleted.length, id)
      }
    }
  }

  export default {
    components: {ContentItemImage, Autocomplete, File, Tab, Tabs, draggable},
    name: 'list-items',
    props: {
      item: Object,
      added: Object,
      method: String
    },
    watch: {
      item () {
        this.itemAssignToForm()
      },
      form: {
        handler () {
          Api.contentItems.validate({id: this.item.id || 0}, this.getFormData(true))
            .then(() => {
              this.errorBag.clear()
            })
            .catch(({body}) => {
              this.showValidateErrors(body.errors)
            })
        },
        deep: true
      },
      added () {
        this.itemColors.replaced = [].concat(this.added.colors)
        this.itemSizes.added = [].concat(this.added.sizes)
        this.itemTags.added = [].concat(this.added.tags)
        this.itemAddTags.added = [].concat(this.added.addTags)
        this.itemSame.added = [].concat(this.added.same)
        this.itemComplex.added = [].concat(this.added.complex)
      }
    },
    mounted () {
      this.itemAssignToForm()
      this.itemImages = {
        deleted: [],
        _replaced: []
      }
      this.itemColors = {
        deleted: [],
        replaced: [],
        added: []
      }
      this.itemSizes = {
        deleted: [],
        replaced: [],
        added: []
      }
      this.itemTags = {
        deleted: [],
        added: []
      }
      this.itemAddTags = {
        deleted: [],
        added: []
      }
      this.itemSame = {
        deleted: [],
        added: []
      }
      this.itemComplex = {
        deleted: [],
        added: []
      }

      Api.contentItems.new().then(({body}) => {
        this.additionalPrices = body.AdditionalPrices
        this.categories = body.Categories
        this.colors = body.Colors
        this.propsFit = body.PropsFit
        this.propsFut = body.PropsFut
        this.propsMaterial = body.PropsMaterial
        this.propsPackage = body.PropsPackage
        this.sizeTypes = body.SizeTypes
        this.tags = [].concat(body.Tags)
        this.addTags = [].concat(body.Tags)

        this.tags.forEach((tag, index) => {
          if (this.form.tags.find(itemTag => itemTag.id === tag.id)) {
            this.tags.unshift(this.tags.splice(index, 1)[0])
          }
        })

        this.addTags.forEach((tag, index) => {
          if (this.form.add_tags.find(itemTag => itemTag.id === tag.id)) {
            this.addTags.unshift(this.addTags.splice(index, 1)[0])
          }
        })
      }, res => {
        console.log('error2')
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })
      })
    },
    data () {
      return {
        images: [
          {
            title: 'Изображение 1',
            list: [
              {
                title: '95x95',
                id: '5.jpg'
              },
              {
                title: '280x280',
                id: '1.jpg'
              }
            ]
          },
          {
            title: 'Изображение 2',
            list: [
              {
                title: '95x95',
                id: '6.jpg'
              },
              {
                title: '280x280',
                id: '2.jpg'
              }
            ]
          },
          {
            title: 'Изображение 3',
            list: [
              {
                title: '95x95',
                id: '7.jpg'
              },
              {
                title: '280x280',
                id: '3.jpg'
              }
            ]
          },
          {
            title: 'Схема',
            list: [
              {
                title: '95x95 для списков',
                id: '18.jpg'
              },
              {
                title: '95x95',
                id: '8.jpg'
              },
              {
                title: '280x280',
                id: '4.jpg'
              }
            ]
          },
          {
            title: 'Схема 2',
            list: [
              {
                title: '95x95',
                id: '30.jpg'
              },
              {
                title: '280x280',
                id: '29.jpg'
              }
            ]
          },
          {
            title: 'Применение',
            list: [
              {
                title: '95x95',
                id: '10.jpg'
              },
              {
                title: '280x280',
                id: '9.jpg'
              }
            ]
          },
          {
            title: 'Изображение для видео',
            list: [
              {
                title: '95x95',
                id: '17.jpg'
              }
            ]
          },
          {
            title: 'Изображение 4',
            list: [
              {
                title: '95x95',
                id: '14.jpg'
              },
              {
                title: '280x280',
                id: '11.jpg'
              }
            ]
          },
          {
            title: 'Изображение 5',
            list: [
              {
                title: '95x95',
                id: '15.jpg'
              },
              {
                title: '280x280',
                id: '12.jpg'
              }
            ]
          },
          {
            title: 'Изображение 6',
            list: [
              {
                title: '95x95',
                id: '16.jpg'
              },
              {
                title: '280x280',
                id: '13.jpg'
              }
            ]
          },
          {
            title: 'Изображение 7',
            list: [
              {
                title: '95x95',
                id: '24.jpg'
              },
              {
                title: '280x280',
                id: '19.jpg'
              }
            ]
          },
          {
            title: 'Изображение 8',
            list: [
              {
                title: '95x95',
                id: '25.jpg'
              },
              {
                title: '280x280',
                id: '20.jpg'
              }
            ]
          },
          {
            title: 'Изображение 9',
            list: [
              {
                title: '95x95',
                id: '26.jpg'
              },
              {
                title: '280x280',
                id: '21.jpg'
              }
            ]
          },
          {
            title: 'Изображение 10',
            list: [
              {
                title: '95x95',
                id: '27.jpg'
              },
              {
                title: '280x280',
                id: '22.jpg'
              }
            ]
          },
          {
            title: 'Изображение 11',
            list: [
              {
                title: '95x95',
                id: '28.jpg'
              },
              {
                title: '280x280',
                id: '23.jpg'
              }
            ]
          },
          {
            title: 'Изображение 12 (в ценах)',
            list: [
              {
                title: '95x95',
                id: '31.jpg'
              },
              {
                title: '280x280',
                id: '33.jpg'
              }
            ]
          },
          {
            title: 'Изображение 13 (в ценах)',
            list: [
              {
                title: '95x95',
                id: '32.jpg'
              },
              {
                title: '280x280',
                id: '34.jpg'
              }
            ]
          }
        ],
        errorBag: new ErrorBag(),
        form: {
          item_sizes: [],
          item_colors: [],
          item_same: [],
          item_complex: [],
          tags: [],
          add_tags: [],
          images: {},
          logo_image: null,
          under_title_color: ''
        },
        isSending: false,
        itemId: store.state.route.params.id,
        draggableImages: [],
        itemImages: {},
        itemTags: {
          deleted: [],
          added: []
        },
        itemAddTags: {
          deleted: [],
          added: []
        },
        itemSame: {},
        itemComplex: {},
        itemColors: {},
        itemSizes: {},
        same: '',
        complex: '',
        categories: [],
        propsFit: [],
        propsFut: [],
        propsMaterial: [],
        propsPackage: [],
        additionalPrices: [],
        sizeTypes: [],
        colors: [],
        tags: [],
        addTags: [],
        editorOption: {
          modules: {
            toolbar: [['bold', 'italic', 'underline', 'strike'],
              [{'list': 'ordered'}, {'list': 'bullet'}],
              [{'script': 'sub'}, {'script': 'super'}],
              ['clean'],
              ['link']]
          },
          placeholder: ' ',
          readOnly: true
        }
      }
    },
    computed: {
      changes () {
        return diff(this.item, this.form)
      }
    },
    methods: {
      showValidateErrors (errors) {
        this.errorBag.clear()
        Object.entries(errors).forEach(([key, value]) => {
          const parseValue = value[0].replace('validation.', '').split(':')

          const error = parseValue[0]
          const errorValue = parseValue[1]

          this.errorBag.add(key, this.$validator.dictionary.container.ru.messages[error](key, [errorValue]))
        })
      },
      itemAssignToForm () {
        if (this.method === 'update') {
          this.draggableImages = Object.entries(this.item.images).map(([key, value]) => {
            return {key, value}
          })
        }

        Object.entries(this.item).forEach(([key, value]) => {
          this.$set(this.form, key, value)
        })

        this.$nextTick(() => {
          this.$refs.quill.quill.enable()
        })
      },
      getFormData (isValidation) {
        let data = {}

        if (!isValidation && this.method === 'update') {
          data._method = 'PUT'
        }

        data = objectToFormData(formattingToSend({
          ...data,
          item: Object.keys(this.changes).length ? this.changes : this.form,
          item_images: this.itemImages,
          item_tags: this.itemTags,
          item_add_tags: this.itemAddTags,
          item_colors: this.itemColors,
          item_sizes: this.itemSizes,
          item_same: this.itemSame,
          item_complex: this.itemComplex
        }))

        if (this.itemImages._replaced) {
          this.itemImages._replaced.forEach(imageId => {
            data.append('images[replaced][' + imageId + ']', document.getElementById('image[' + imageId + ']').files[0])
          })
        }

        return data
      },
      onSubmit () {
        if (!this.isSending) {
          this.isSending = true

          Api.contentItems[this.method]({id: this.item.id}, this.getFormData()).then(() => {
            router.go(-1)

            store.commit('notification/add', {
              type: 'success',
              text: 'Товар изменен',
              duration: 2000
            })

            this.isSending = false
          }, res => {
            if (res.status === 422) {
              console.log('error')
              this.showValidateErrors(res.body.errors)
              store.commit('notification/add', {
                type: 'danger',
                text: 'Форма заполнена некорректно'
              })
            } else {
              console.log('error1')
              var error_text = ''
              if(this.cat_id === undefined || this.cat_id === null ) {
                error_text = 'Поле категория нужно заполнить'
                store.commit('notification/add', {
                  type: 'danger',
                  text: error_text
                })
              }
              if(this.code === undefined || this.code === null ) {
                error_text = 'Поле код нужно заполнить'
                store.commit('notification/add', {
                  type: 'danger',
                  text: error_text
                })
              }
              if(this.title === undefined || this.title === null ) {
                error_text = 'Поле артикул нужно заполнить'
                store.commit('notification/add', {
                  type: 'danger',
                  text: error_text
                })
              }
              if(this.meta_title === undefined || this.meta_title === null ) {
                error_text = 'Поле Meta title нужно заполнить'
                store.commit('notification/add', {
                  type: 'danger',
                  text: error_text
                })
              }
              if(this.meta_description === undefined || this.meta_description === null ) {
                error_text = 'Поле Meta description нужно заполнить'
                store.commit('notification/add', {
                  type: 'danger',
                  text: error_text
                })
              }
              if(this.field_h1 === undefined || this.field_h1 === null ) {
                error_text = 'Поле заголовок h1 нужно заполнить'
                store.commit('notification/add', {
                  type: 'danger',
                  text: error_text
                })
              }
              if(this.yandex_name === undefined || this.yandex_name === null ) {
                error_text = 'Поле Название для яндекса нужно заполнить'
                store.commit('notification/add', {
                  type: 'danger',
                  text: error_text
                })
              }
            }

            this.isSending = false
          })
        }
      },
      addColor () {
        const length = this.itemColors.replaced.push({
          id: 0,
          add_price: 0,
          code: this.form.title || '',
          main: +!this.form.item_colors.length,
          ord: this.form.item_colors.length + 1
        })
        this.form.item_colors.push(this.itemColors.replaced[length - 1])
      },
      removeColor (color) {
        if (color.id) {
          this.itemColors.deleted.push(color.id)
        }
        if (this.itemColors.replaced.some(elem => elem === color)) {
          this.itemColors.replaced.splice(this.itemColors.replaced.findIndex(elem => elem === color), 1)
        }
        if (this.form.item_colors.some(elem => elem === color)) {
          this.form.item_colors.splice(this.form.item_colors.findIndex(elem => elem === color), 1)
        }

        this.form.item_colors.findIndex(el => el === color)
      },
      changeItemColor (colorId, event) {
        if (event.isTrusted) {
          const color = this.form.item_colors.find(el => +el.color === +colorId)
          if (color && color.id && (this.itemColors.replaced.findIndex(elem => elem === color) === -1)) {
            // this.itemColors.replaced.push(color)
          }

          if (event.target && event.target.getAttribute('name') === 'main') {
            this.form.item_colors.forEach(itemColor => {
              if (itemColor.main === 1) {
                itemColor.main = 0
                if (itemColor.id && (!this.itemColors.replaced.length || this.itemColors.replaced.some(elem => elem !== itemColor))) {
                  // this.itemColors.replaced.push(itemColor)
                }
              }
            })

            color.main = 1
          }
        }
      },
      changeItemColorOrd () {
        this.form.item_colors.forEach((itemColor, index) => {
          const ord = index + 1
          if (itemColor.ord !== ord) {
            itemColor.ord = ord
            this.changeItemColor(itemColor.color, {isTrusted: true})
          }
        })
      },
      changeTag (event) {
        changeTag(this.itemTags, event.target, this)
      },
      changeAddTag (event) {
        changeTag(this.itemAddTags, event.target, this)
      },
      addItemSame (item) {
        if (this.itemSame.deleted.some(itemSame => itemSame === item.id)) {
          this.form.item_same.push(item)
          this.itemSame.deleted.splice(this.itemSame.deleted.findIndex(itemSame => itemSame === item.id), 1)
        } else {
          if (!this.form.item_same.some(itemSame => itemSame.id === item.id)) {
            this.form.item_same.push(item)
            this.itemSame.added.push(item)
          }
        }

        this.same = ''
      },
      removeItemSame (item) {
        this.form.item_same.splice(this.form.item_same.findIndex(itemSame => itemSame === item), 1)

        if (this.itemSame.added.some(itemSame => itemSame.id === item.id)) {
          this.itemSame.added.splice(this.itemSame.added.findIndex(itemSame => itemSame.id === item.id), 1)
        } else {
          this.itemSame.deleted.push(item.id)
        }
      },
      addItemComplex (item) {
        if (this.itemComplex.deleted.some(itemComplex => itemComplex === item.id)) {
          this.form.item_complex.push(item)
          this.itemComplex.deleted.splice(this.itemComplex.deleted.findIndex(itemComplex => itemComplex === item.id), 1)
        } else {
          if (!this.form.item_complex.some(itemComplex => itemComplex.id === item.id)) {
            this.form.item_complex.push(item)
            this.itemComplex.added.push(item)
          }
        }

        this.complex = ''
      },
      removeItemComplex (item) {
        this.form.item_complex.splice(this.form.item_complex.findIndex(itemComplex => itemComplex === item), 1)

        if (this.itemComplex.added.some(itemComplex => itemComplex.id === item.id)) {
          this.itemComplex.added.splice(this.itemComplex.added.findIndex(itemComplex => itemComplex.id === item.id), 1)
        } else {
          this.itemComplex.deleted.push(item.id)
        }
      },
      itemPropPipesChange (event) {
        this.form.prop_pipes = event.target.value
      },
      changeFieldHtmlEntities (itemSize, field, event) {
        this.$set(itemSize, field, event.target.value)
      },
      removeItemSize (index) {
        const size = this.form.item_sizes[index]

        if (size.id) {
          this.itemSizes.deleted.push(size.id)
        }

        if (this.itemSizes.replaced.some(elem => elem === size)) {
          this.itemSizes.replaced.splice(this.itemSizes.replaced.findIndex(elem => elem === size), 1)
        }

        this.form.item_sizes.splice(index, 1)
      },
      addItemSize () {
        const length = this.itemSizes.added.push({type: undefined})

        this.form.item_sizes.push(this.itemSizes.added[length - 1])
      },
      itemSizeChange (index) {
        const size = this.form.item_sizes[index]
        const maxSize = 6

        if (size.item_id && (!this.itemSizes.replaced.length || this.itemSizes.replaced.every(elem => elem.id !== size.id))) {
          this.itemSizes.replaced.push(size)
        }

        if ([1, 2, 7, 8, 11].indexOf(+size.type) !== -1) {
          setNull(1)
        } else if ([3, 4, 5, 9, 10, 15].indexOf(+size.type) !== -1) {
          setNull(2)
        } else if ([6, 14].indexOf(+size.type) !== -1) {
          setNull(3)
        }

        function setNull (number) {
          [...Array(maxSize - number).keys()].forEach(sizeType => {
            size['size_' + (maxSize - sizeType).toString()] = null
          })
        }
      },
      changePropPack () {
        if (this.form.prop_pack_width && this.form.prop_pack_length && this.form.prop_pack_height) {
          this.form.prop_pack_volume = (this.form.prop_pack_width * this.form.prop_pack_length * this.form.prop_pack_height) / 1000000000
        }
      },
      changeLogoImage ({target}) {
        this.form.logo_image = target.checked ? +target.value : null
      },
      moveImage (event, id) {
        console.log(event, id)
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "~bulma/sass/utilities/_all";

  .table-slug {
    margin-bottom: 0;
  }

  .field.has-addons {
    width: 100%;
  }

  .field.is-horizontal > label {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }

  .panel-tags {
    max-height: 411px;
    overflow: auto;
  }

  .image-container {
    display: flex;

    > *:not(last-child) {
      margin-right: .75rem;
    }
  }

  .box {
    max-width: 1000px;
  }

  .table {
    td,
    th {
      vertical-align: middle;
    }
  }

  .handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }

  .item.sortable-chosen {
    background-color: $primary;
    color: #fff;
  }

  .field.is-horizontal .field {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .field-1.is-horizontal .field-label {
    min-width: 140px;
    flex-grow: 0;
  }

  .field-2.is-horizontal .field-label {
    min-width: 180px;
    flex-grow: 0;
  }

  .field-3.is-horizontal .field-label {
    min-width: 210px;
    flex-grow: 0;
  }

  .field-4.is-horizontal .field-label {
    min-width: 400px;
    flex-grow: 0;
  }

  .field-5.is-horizontal .field-label {
    min-width: 230px;
    flex-grow: 0;
  }

  .field-6.is-horizontal .field-label {
    min-width: 110px;
    flex-grow: 0;
  }

  .is-horizontal.is-left-horizontal .field-label {
    flex-grow: 0;
    white-space: nowrap;
  }
  .no-margin-bottom {
    margin-bottom: 0;
  }
  .promo {
    font-size: 13px;
    line-height: 16px;
    background-color: #eee;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    margin-top: 14px;
    padding: 7px 9px;
    border-radius: 1px;
    color: #000;

    &:after {
      bottom: 100%;
      left: 13px;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-bottom-color: #eee;
      border-width: 7px;
      margin-left: -7px;
      border-style: solid;
    }

    &_secondary {
      color: #00997b;
      background-color: #ccebe5;

      &:after {
        border-bottom-color: #ccebe5;
      }
    }

    &_primary {
      color: #c54004;
      background-color: #f2e1cb;

      &:after {
        border-bottom-color: #f2e1cb;
      }
    }
  }
</style>
