<template>
  <div>
    <div class="field has-addons">
      <div class="control">
        <file ref="file" :label="label" @change.prevent="changeImage" accept="image/*" :id="'image[' + id + ']'"></file>
      </div>
      <div class="control is-expanded" v-if="available">
        <div class="button is-danger" @click.prevent="removeImage"><i class="fa fa-remove"></i></div>
      </div>
    </div>
    <drop v-show="available" @drop="handleDrop(id, ...arguments)">
      <drag :transferData="id">
        <img ref="image" :src="imageLink">
      </drag>
    </drop>
  </div>
</template>

<script>
  import errorParser from '@/helpers/error-parser'

  import Api from '@/api'
  import store from '@/store'

  import {Drag, Drop} from 'vue-drag-drop'

  import File from '@/components/File'

  export default {
    name: 'content-item-image',
    components: {Drag, Drop, File},
    props: {
      id: String,
      label: String,
      item: Object,
      images: Object,
      method: String
    },
    computed: {
      itemImages () {
        return this.item.images
      },
      imageLink () {
        return this.itemImages[this.id] && this.images._replaced && this.images._replaced.indexOf(this.id) === -1 ? (this.itemImages[this.id] + '?' + new Date().getTime()) : false
      },
      available () {
        return this.itemImages && this.itemImages[this.id] && this.images.deleted.indexOf(this.id) === -1
      }
    },
    methods: {
      removeImage () {
        this.$refs.file.$refs.input.value = ''
        this.images.deleted.push(this.id)

        this.$set(this.itemImages, this.id, false)

        if (this.images._replaced.indexOf(this.id) !== -1) {
          this.images._replaced.splice(this.images._replaced.indexOf(this.id), 1)
        }
      },
      changeImage (event) {
        if (this.images.deleted.indexOf(this.id) !== -1) {
          this.images.deleted.splice(this.images.deleted.indexOf(this.id), 1)
        }

        if (this.images._replaced.indexOf(this.id) === -1) {
          this.images._replaced.push(this.id)
        }

        this.$set(this.itemImages, this.id, true)

        const input = event.target

        if (input.files && input.files[0]) {
          const reader = new FileReader()

          reader.onload = e => {
            this.$refs.image.setAttribute('src', e.target.result)
          }

          reader.readAsDataURL(input.files[0])
        }
      },
      handleDrop (toId, fromId) {
        if (this.method === 'update') {
          const fromImage = this.item.images[fromId]
          const toImage = this.item.images[toId]

          Api.contentItems.imageSwap({id: this.item.id}, {image_1: toId, image_2: fromId})
            .then(() => {
              store.commit('notification/add', {
                type: 'success',
                text: 'Фотки успешно поменяны местами',
                duration: 2000
              })

              this.$set(this.item.images, fromId, toImage)
              this.$set(this.item.images, toId, fromImage)
            })
            .catch(res => {
              store.commit('notification/add', {
                type: 'danger',
                text: errorParser(res)
              })
            })
        }
      }
    }
  }
</script>
