<template>
  <form @submit.prevent="send">
    <div class="field is-horizontal">
      <label class="checkbox">
        <input type="checkbox" id="enabled" v-model="form.enabled" @change="changed('enabled', $event.target.checked)">
        Включено
      </label>
    </div>
    <div class="field is-horizontal">
      <label class="checkbox">
        <input type="checkbox" id="size" v-model="form.size" @change="changed('size', $event.target.checked)">
        Широкий
      </label>
    </div>
    <div class="field">
      <label class="label" for="title">Заголовок</label>
      <span class="control">
        <input class="input" id="title" v-model="form.title" @input="changed('title', $event.target.value)">
      </span>
      <div v-show="errorBag.has('title')" class="help is-danger">{{ errorBag.first('title') }}</div>
    </div>
    <div class="field">
      <label class="label" for="text">Текст</label>
      <span class="control">
        <textarea class="textarea" id="text" v-model="form.text" @input="changed('text', $event.target.value)" rows="3"></textarea>
      </span>
      <div v-show="errorBag.has('text')" class="help is-danger">{{ errorBag.first('text') }}</div>
    </div>
    <div class="field" v-if="!form.size">
      <label class="label" for="icon">Иконка</label>
      <span class="control">
        <div class="select">
          <select id="icon" v-model="form.icon_id_1" @change="changed('icon_id_1', $event.target.value)">
            <option :value="key" v-for="(icon, key) in icons">{{ icon.name }}</option>
          </select>
        </div>
      </span>
      <span class="control" v-if="form.icon_id_1">
        <span class="banner-image">
          <img :src="`/images/hot-icons/${icons[form.icon_id_1].fileName}.svg`"/>
        </span>
      </span>
      <div v-show="errorBag.has('icon_id_1')" class="help is-danger">{{ errorBag.first('icon_id_1') }}</div>
    </div>
    <div class="field" v-if="form.size">
      <label class="label" for="add_text_1">Короткий доп. текст 1</label>
      <span class="control">
        <input class="input" id="add_text_1" v-model="form.add_text_1" @input="changed('add_text_1', $event.target.value)">
      </span>
      <div v-show="errorBag.has('add_text_1')" class="help is-danger">{{ errorBag.first('add_text_1') }}</div>
    </div>
    <div class="field" v-if="form.size">
      <label class="label" for="icon_id_1">Иконка для короткий доп. текст 1</label>
      <span class="control">
        <div class="select">
          <select id="icon_id_1" v-model="form.icon_id_1" @change="changed('icon_id_1', $event.target.value)">
            <option :value="key" v-for="(icon, key) in icons">{{ icon.name }}</option>
          </select>
        </div>
      </span>
      <span class="control" v-if="form.icon_id_1">
        <span class="banner-image">
          <img :src="`/images/hot-icons/${icons[form.icon_id_1].fileName}.svg`"/>
        </span>
      </span>
      <div v-show="errorBag.has('icon_id_1')" class="help is-danger">{{ errorBag.first('icon_id_1') }}</div>
    </div>
    <div class="field" v-if="form.size">
      <label class="label" for="add_text_2">Короткий доп. текст 2</label>
      <span class="control">
        <input class="input" id="add_text_2" v-model="form.add_text_2" @input="changed('add_text_2', $event.target.value)">
      </span>
      <div v-show="errorBag.has('add_text_2')" class="help is-danger">{{ errorBag.first('add_text_2') }}</div>
    </div>
    <div class="field" v-if="form.size">
      <label class="label" for="icon_id_2">Иконка для короткий доп. текст 2</label>
      <span class="control">
        <div class="select">
          <select id="icon_id_2" v-model="form.icon_id_2" @change="changed('icon_id_2', $event.target.value)">
            <option :value="key" v-for="(icon, key) in icons">{{ icon.name }}</option>
          </select>
        </div>
      </span>
      <span class="control" v-if="form.icon_id_2">
        <span class="banner-image">
          <img :src="`/images/hot-icons/${icons[form.icon_id_2].fileName}.svg`"/>
        </span>
      </span>
      <div v-show="errorBag.has('icon_id_2')" class="help is-danger">{{ errorBag.first('icon_id_2') }}</div>
    </div>
    <div class="field">
      <label class="label">Фото</label>
      <div class="field has-addons">
        <div class="control">
          <file ref="file" :label="form.size ? '310x168' : '130x168'" accept="image/*" @change="changePhoto" id="photo"></file>
          <img src=""/>
        </div>
        <div class="control is-expanded" v-if="form.photo">
          <div class="button is-danger" @click.prevent="removePhoto"><i class="fa fa-remove"></i></div>
        </div>
      </div>
      <figure class="image photo-container" v-if="form.photo">
        <img :src="form.photo"/>
      </figure>
    </div>
    <div class="field">
      <label class="label" for="category_name">Отображать в категории</label>
      <span class="control">
        <autocomplete :value="form.category_name" @input="value => { form.category_name = value; changed('category_name', value) }" :options="{class: 'input'}" api="search.parentCategories.get" query="article" id="category_name" @select="selectCategory" placeholder="Начните вводить название категории"></autocomplete>
      </span>
      <div v-show="errorBag.has('category_id')" class="help is-danger">{{ errorBag.first('category_id') }}</div>
    </div>
    <div class="field">
      <label class="label" for="subject_id">Ссылка</label>
      <div class="field has-addons">
        <div class="control">
          <div class="select">
            <select id="subject_id" v-model="form.subject_id" @change="changeLinkType">
              <option value="2">Категории</option>
              <option value="3">Теги</option>
              <option value="4">Товары</option>
            </select>
          </div>
        </div>
        <div class="control is-expanded">
          <autocomplete :value="form.object_name" @input="value => { form.object_name = value; changed('object_name', value) }" :options="{class: 'input'}" :api="methodApi" query="article" id="complect_items_add" @select="selectLink" :placeholder="placeholder"></autocomplete>
        </div>
      </div>
      <div v-show="errorBag.has('object_id')" class="help is-danger">{{ errorBag.first('object_id') }}</div>
    </div>
    <div class="field" v-if="form.subject_id == 3">
      <label class="label" for="tag_category_id">Категория для тега</label>
      <div class="field has-addons">
        <div class="control is-expanded">
          <autocomplete :value="form.tag_category_name" @input="value => { form.tag_category_name = value; changed('tag_category_name', value) }" :options="{class: 'input'}" :api="'search.categories.get'" query="article" id="tag_category_id" @select="selectCategoryId" placeholder="Начните вводить название категории"></autocomplete>
        </div>
      </div>
      <div v-show="errorBag.has('object_id')" class="help is-danger">{{ errorBag.first('tag_category_id') }}</div>
    </div>
    <button class="button is-primary is-large is-circle is-fixed" :class="isSending ? 'is-loading' : ''" v-bind:disabled="isSending || !isChanged" @click="send">
      <span class="icon is-medium">
        <i class="fa fa-floppy-o"></i>
      </span>
    </button>
  </form>
</template>

<script>
  import store from '@/store'
  import router from '@/router'

  import errorParser from '@/helpers/error-parser'
  import formattingToSend from '@/helpers/formatting-to-send'
  import objectToFormData from '@/helpers/object-to-formdata'
  import { beforeLeave, beforeUnload } from '@/helpers/confirm-end'

  import { ErrorBag } from 'vee-validate'

  import Api from '@/api'
  import File from '@/components/File'
  import Autocomplete from '@/components/Autocomplete'

  export default {
    name: 'content-hot-form',
    props: {
      item: Object,
      method: String
    },
    components: {File, Autocomplete},
    created () {
      window.addEventListener('beforeunload', this.handlerBeforeUnload)
    },
    mounted () {
      this.form = {...this.form, ...this.item}

      this.$parent.$on('beforeLeave', (to, from, next) => {
        beforeLeave(this, to, from, next)
      })
    },
    watch: {
      item () {
        this.form = Object.assign(this.form, this.item)
      },
      form: {
        handler () {
          Api.contentItemsHot.validate({id: this.item.id || 0}, this.form)
            .then(() => {
              this.errorBag.clear()
            })
            .catch(({body}) => {
              this.showValidateErrors(body.errors)
            })
        },
        deep: true
      }
    },
    data () {
      return {
        changes: {},
        form: {
          enabled: true,
          size: false,
          title: '',
          text: '',
          add_text_1: '',
          add_text_2: '',
          icon_id_1: 0,
          icon_id_2: 0,
          subject_id: 4,
          object_name: '',
          photo: '',
          object_id: '',
          category_id: '',
          category_name: '',
          tag_category_id: '',
          tag_category_name: ''
        },
        errorBag: new ErrorBag(),
        isSending: false,
        icons: {
          0: {
            name: 'Скидка',
            fileName: 'discount'
          },
          1: {
            name: 'Хорошое качество',
            fileName: 'high_quality'
          },
          2: {
            name: 'В наличии',
            fileName: 'in_stock'
          },
          3: {
            name: 'Собственное производство',
            fileName: 'manufacture'
          },
          4: {
            name: 'Идеально для защиты',
            fileName: 'protection'
          },
          5: {
            name: 'Новая',
            fileName: 'new'
          }
        }
      }
    },
    computed: {
      isChanged () {
        return !!(Object.keys(this.changes).length)
      },
      methodApi: function () {
        switch (+this.form.subject_id) {
          case 2:
            return 'search.categories.get'
          case 3:
            return 'search.tags.get'
          case 4:
            return 'search.items.get'
        }
      },
      placeholder: function () {
        const getName = () => {
          switch (+this.form.subject_id) {
            case 2:
              return 'название категории'
            case 3:
              return 'название тега'
            case 4:
              return 'артикул товара'
          }
        }

        return `Начните вводить ${getName()}`
      }
    },
    methods: {
      showValidateErrors (errors) {
        this.errorBag.clear()
        Object.entries(errors).forEach(([key, value]) => {
          const parseValue = value[0].replace('validation.', '').split(':')

          const error = parseValue[0]
          const errorValue = parseValue[1]
          const message = this.$validator.dictionary.container.ru.messages[error]

          this.errorBag.add(key, message ? message(key, [errorValue]) : 'Поле не прошло валидацию')
        })
      },
      send () {
        if (!this.isSending && this.isChanged) {
          this.isSending = true

          let data = {}

          if (this.method === 'update') {
            data._method = 'PUT'
          }

          data = objectToFormData(formattingToSend({
            ...data,
            ...this.form,
            ...this.changes
          }))

          data.delete('photo')

          if (this.changes.photo) {
            data.append('photo', document.getElementById('photo').files[0])
          }

          Api.contentItemsHot[this.method]({id: this.item.id}, data).then(({body}) => {
            this.changes = {}
            router.go(-1)
          }, res => {
            if (res.status === 422) {
              this.showValidateErrors(res.body.errors)

              store.commit('notification/add', {
                type: 'danger',
                text: 'Форма заполнена некорректно'
              })
            } else {
              store.commit('notification/add', {
                type: 'danger',
                text: errorParser(res)
              })
            }

            this.isSending = false
          })
        }
      },
      changed (key, value) {
        if (this.item[key] !== value) {
          this.$set(this.changes, key, value)
        } else {
          delete this.changes[key]
        }
      },
      change (key, value) {
        this.$set(this.form, key, value)
        this.changed(key, value)
      },
      changeLinkType (event) {
        this.change('subject_id', event.target.value)
        this.change('object_name', '')
        this.change('object_id', '')
      },
      changePhoto (event) {
        const input = event.target

        if (input.files && input.files[0]) {
          const reader = new FileReader()

          reader.onload = event2 => {
            this.change('photo', event2.target.result)
          }

          reader.readAsDataURL(input.files[0])
        }
      },
      removePhoto () {
        this.change('photo', '')
      },
      selectLink (item) {
        this.change('object_id', item.id)
        this.change('object_name', item.title)
      },
      selectCategoryId (item) {
        this.change('tag_category_id', item.id)
        this.change('tag_category_name', item.title)
      },
      selectCategory (item) {
        this.change('category_id', item.id)
        this.change('category_name', item.title)
      },
      handlerBeforeUnload (event) {
        beforeUnload(this, event)
      }
    }
  }
</script>

<style scoped lang="scss">
  .photo-container {
    margin-top: 0.5em;

    > img {
      max-height: 300px;
      max-width: 100%;
      height: 100%;
      width: auto;
    }
  }

  .banner-image {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #c54004;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: -8px;
  }
</style>