<template>
  <div>
    <navbar></navbar>
    <aside-bar></aside-bar>
    <div class="main-wrap">
      <div ref="loader" class="loader-container" :class="pageload === 'complete' ? 'slideOutUp animated' : ''">
        <template v-if="pageload === 'error'">
          <i class="fa fa-3x fa-exclamation-triangle"></i>
        </template>
        <template v-else>
          <img src="../assets/progress-bar.gif">
        </template>
      </div>
      <div ref="main" class="column" :class="pageload === 'complete' ? 'fadeIn animated' : ''">
        <router-view ref="router" :class="pageload === 'complete' ? 'slideInUp animated' : 'hidden'"></router-view>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Navbar from '@/components/Navbar.vue'
  import AsideBar from '@/components/Aside.vue'

  export default {
    components: {Navbar, AsideBar},
    name: 'layout',
    computed: mapState({
      pageload: state => state.pageload.state
    }),
    mounted () {
      ['webkitAnimationEnd', 'mozAnimationEnd', 'MSAnimationEnd', 'oanimationend', 'animationend'].forEach(event => {
        this.$refs.loader.addEventListener(event, (el) => {
          el.target.classList.add('display-none')
        })

        this.$refs.main.addEventListener(event, (el) => {
          const classList = el.target.classList
          classList.remove('animated')
          classList.remove('slideInUp')
          classList.remove('fadeIn')
        })

        this.$refs.router.$el.addEventListener(event, (el) => {
          const classList = el.target.classList
          classList.remove('animated')
          classList.remove('slideInUp')
        })
      })
    }
  }
</script>

<style lang="scss">
  body {
    padding-top: 53px;
    padding-left: 280px;

    @media print {
      & {
        padding: 0;
      }
    }
  }
</style>

<style scoped lang="scss">
  .main-wrap {
    height: 100%;
    position: relative;

    > .column {
      animation-duration: .7s;

      &-wrap {
        position: relative;
        height: 100%;
      }

      > * {
        animation-duration: .3s;
      }
    }
  }

  .fa {
    font-size: 150px;
  }

  .loader-container {
    position: absolute;
    z-index: 1;
    animation-duration: .3s;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hidden {
    opacity: 0;
  }

  .display-none {
    display: none;
  }
</style>
