<template>
  <article class="message" :class="(color ? 'is-' + color : '') + (size ? 'is-' + size : '')">
    <div class="message-header" v-if="hasHeaderSlot">
      <slot name="header"></slot>
      <!--<button class="delete"></button>-->
    </div>
    <div class="message-body">
      <slot subjectId="4" objectId="objectId"></slot>
    </div>
  </article>
</template>

<script>
  import store from '@/store'

  export default {
    name: 'message',
    props: {
      color: String,
      size: String
    },
    computed: {
      hasHeaderSlot () {
        return !!this.$slots.header
      },
      objectId: () => store.state.route.params.id
    }
  }
</script>

<style lang="scss">

</style>
