<template>
  <nav class="navbar">
    <div class="navbar-brand">
      <router-link class="navbar-item" to="/">
        <img src="../assets/logo.svg" width="60">
      </router-link>
    </div>
    <div id="navMenuExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item">
          <i class="fa fa-bell-o"></i>
        </a>
        <div ref="userDropdown" class="navbar-item has-dropdown" @click.capture="toggleUserDropdown">
          <div class="navbar-link">
            <figure class="image navbar-user-image" v-bind:style="{ backgroundColor: user.color }">
              <img v-bind:src="user.image" v-if="user.image" />
              <figcaption class="navbar-user-image-sybmol" v-if="!user.image">{{ user.name ? user.name[0].toUpperCase() : '' }}</figcaption>
            </figure>
            <span class="navbar-user-text">
              <span class="navbar-user-name">{{ user.name }}</span>
              <br/>
              <span class="navbar-user-position">{{ user.email }}</span>
            </span>
          </div>
          <div class="navbar-dropdown is-right">
            <router-link class="navbar-item" :to="{ name: 'profile' }">Профиль</router-link>
            <hr class="navbar-divider">
            <router-link class="navbar-item" :to="{ name: 'logout' }">Выход</router-link>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import store from '@/store'
  import ColorHash from 'color-hash'

  export default {
    name: 'navbar',
    data () {
      return {
        user: {}
      }
    },
    mounted () {
      const colorHash = new ColorHash({saturation: 0.9})

      this.user = store.state.user
      this.user.color = colorHash.hex(this.user.name)
    },
    methods: {
      toggleUserDropdown (event) {
        this.$refs.userDropdown.classList.toggle('is-active')
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~bulma/sass/utilities/initial-variables";

  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 15;
    border-bottom: 1px solid $grey-lighter;

    @media print {
      & {
        display: none;
      }
    }

    &-item img {
      max-height: none;
    }
  }

  .navbar-user {
    &-image {
      width: 36px;
      height: 36px;
      display: inline-block;
      margin-right: 10px;
      border-radius: 50%;

      > img {
        border-radius: 50%;
        max-height: none;
      }

      &-sybmol {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        height: 100%;
        color: #fff;
      }
    }

    &-text {
      line-height: 1;
    }

    &-position {
      font-size: $size-7;
      color: $grey;
    }
  }
</style>
