<template>
  <form @submit.prevent="onSubmit">
    <div class="field is-horizontal">
      <label class="checkbox">
        <input type="checkbox" id="description_acceptable_for_subdomains" v-model="form.description_acceptable_for_subdomains">
        Показывать описание категории на поддоменах
      </label>
    </div>
    <div class="field">
      <label class="label">Описание</label>
      <span v-html="form.descr"></span>
    </div>
    <button class="button is-primary is-large is-circle is-fixed" :class="isSending ? 'is-loading' : ''" v-bind:disabled="isSending || !isChanged">
      <span class="icon is-medium">
        <i class="fa fa-floppy-o"></i>
      </span>
    </button>
  </form>
</template>

  <script>
  import errorParser from '@/helpers/error-parser'
  import formattingToSend from '@/helpers/formatting-to-send'
  import objectToFormData from '@/helpers/object-to-formdata'

  import { diff } from 'deep-object-diff'

  import Api from '@/api'
  import store from '@/store'
  import router from '@/router'

  export default {
    name: 'list-category',
    props: {
      category: Object,
      method: String
    },
    mounted () {
      this.form = {...this.form, ...this.category}
    },
    watch: {
      category () {
        this.form = {...this.form, ...this.category}
      },
      form: {
        handler () {
          this.changed()
        },
        deep: true
      }
    },
    data () {
      return {
        form: {
          description_acceptable_for_subdomains: false,
          descr: ''
        },
        categories: [],
        changes: {},
        isSending: false,
        categoryId: store.state.route.params.id
      }
    },
    methods: {
      changed () {
        this.changes = diff(this.category, this.form)
      },
      onSubmit () {
        if (!this.isSending) {
          this.isSending = true

          let data = {_method: 'PUT'}

          data = objectToFormData(formattingToSend({
            ...data,
            ...this.changes
          }))

          Api.seoCategories['save']({id: this.categoryId}, data).then(() => {
            this.changes = {}
            router.go(-1)
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })

            this.isSending = false
          })
        }
      }
    },
    computed: {
      isChanged () {
        return !!(Object.keys(this.changes).length)
      }
    }
  }
</script>