<template>
  <form>
    <h2>Настройки имейлов для рассылки</h2>
    <div class="field has-addons" v-for="(email, index) in emails">
      <div class="control control-input">
        <input class="input" type="email" placeholder="Email" :value="email" @input="changeEmail(index, $event)">
      </div>
      <div class="control">
        <button type="button" class="button is-danger" @click="emails.splice(index, 1)">
          <span class="icon">
            <i class="fa fa-remove"></i>
          </span>
        </button>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button type="button" class="button is-primary" @click="emails.push('')">
          <span class="icon">
            <i class="fa fa-plus"></i>
          </span>
          <span>
            Добавить поле
          </span>
        </button>
      </div>
      <div class="control">
        <button type="button" class="button is-success" @click="save()">
          Сохранить
        </button>
      </div>
    </div>
  </form>
</template>

<script>
  import errorParser from '@/helpers/error-parser'
  import Api from '@/api'
  import store from '@/store'

  export default {
    name: 'settings-emails',
    data () {
      return {
        emails: []
      }
    },
    mounted () {
      Api.settingsSalesEmails.get().then(({body}) => {
        this.emails = body.map(item => item.value) || []
      })
    },
    methods: {
      changeEmail (index, event) {
        this.$set(this.emails, index, event.target.value)
      },
      save () {
        Api.settingsSalesEmails.update({emails: this.emails}).then(() => {
          store.commit('notification/add', {
            type: 'success',
            text: 'Настройки имейлов для рассылки обновлены',
            duration: 2000
          })
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      }
    }
  }
</script>

<style scoped>
  .control-input {
    width: 100%;
  }
</style>