<template>
  <div class="tags">
    <div class="tag is-primary" v-for="tag in tags" @click="insertText(tag, $event)" @mouseover="overTag">{{ tag | tag }}</div>
  </div>
</template>

<script>
  export default {
    name: 'slug-tags',
    data () {
      return {
        element: Element
      }
    },
    props: {
      tags: Array
    },
    methods: {
      insertText (tag, event) {
        const start = this.element.selectionStart
        const length = this.element.selectionEnd - start

        if (Number.isInteger(start)) {
          const value = this.element.value.split('')
          const text = this.$options.filters.tag(tag)

          value.splice(start, length, text)

          this.element.value = value.join('')

          this.element.focus()
          this.element.setSelectionRange(start + text.length, start + text.length)
        }
      },
      overTag (el) {
        this.element = document.activeElement
      }
    },
    filters: {
      tag (value) {
        return value.toUpperCase().replace(/ /g, '_')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .tag {
    cursor: pointer;
  }
</style>