<template>
  <div>
    <div class="tabs" :class="classTabs">
      <ul>
        <li v-for="tab in tabs" :class="{ 'is-active': tab.isActive }">
          <a v-html="tab.header" :aria-controls="tab.hash" :aria-selected="tab.isActive" @click.prevent="selectTab(tab.hash)" :href="tab.hash"></a>
        </li>
      </ul>
    </div>
    <slot/>
  </div>
</template>

<script>
  export default {
    name: 'tabs',
    props: {
      classTabs: String
    },
    data: () => ({
      tabs: [],
      activeTabHash: ''
    }),
    created () {
      this.tabs = this.$children
    },
    mounted () {
      window.addEventListener('hashchange', () => this.selectTab(window.location.hash))

      this.init()
    },
    methods: {
      init () {
        if (this.findTab(window.location.hash)) {
          this.selectTab(window.location.hash)
          return
        }

        if (this.tabs.length) {
          this.selectTab(this.tabs[0].hash)
        }
      },
      findTab (hash) {
        return this.tabs.find(tab => tab.hash === hash)
      },
      selectTab (selectedTabHash) {
        const selectedTab = this.findTab(selectedTabHash)
        if (!selectedTab) {
          return
        }

        window.history.replaceState(null, null, window.location.origin + window.location.pathname + selectedTabHash)

        this.tabs.forEach(tab => {
          tab.isActive = (tab.hash === selectedTab.hash)
        })

        this.$emit('changed', { tab: selectedTab })
        this.activeTabHash = selectedTab.hash
      }
    }
  }
</script>