<template>
  <div class="page">
    <div class="page">
      <h1 class="title">Добавление товарной группы</h1>
      <div class="columns">
        <div class="column">
          <div class="box">
            <content-category-form :category="{}" method="save"></content-category-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ContentCategoryForm from '@/components/ContentCategoryForm'

  export default {
    components: {ContentCategoryForm},
    name: 'content-categories-create',
    beforeRouteLeave (to, from, next) {
      this.$emit('beforeLeave', to, from, next)
    }
  }
</script>