<template>
  <div class="page">
    <div class="page" v-if="true">
      <h1 class="title">{{ 'Редактирование SEO товара: " ' + item.title + '"' }}</h1>
      <div class="columns">
        <div class="column">
          <slug-tags :tags="tags"></slug-tags>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <tabs>
              <template v-for="(type, typeKey) in tabs">
                <tab v-for="(tab, key) in type" :name="tab" :key="key" v-if="key !== 'ru'">
                  <form v-on:submit.prevent="onSubmit" class="field">
                      <input type="hidden" name="object_id" :value="id"/>
                      <input type="hidden" name="subject_id" :value="subjectId"/>
                    <template v-if="typeKey === 'subdomain'">
                      <input type="hidden" name="language" value="ru"/>
                    </template>
                    <template v-else>
                      <input type="hidden" name="subdomain" value="www"/>
                    </template>
                    <input type="hidden" :name="typeKey" :value="key"/>
                    <div class="field">
                      <label class="label" for="title">Meta Title</label>
                      <div class="control">
                        <input class="input" id="title" name="title" :value="getValue('title', typeKey, key)">
                      </div>
                    </div>
                    <div class="field">
                      <label class="label" for="description">Meta Description</label>
                      <div class="control">
                        <textarea class="textarea" id="description" name="description" :value="getValue('description', typeKey, key)"></textarea>
                      </div>
                    </div>
                    <div class="field">
                      <label class="label" for="keywords">Meta Keywords</label>
                      <div class="control">
                        <input class="input" id="keywords" name="keywords" :value="getValue('keywords', typeKey, key)">
                      </div>
                    </div>
                    <button class="button is-primary is-large is-circle is-fixed" :class="state === 'pending' ? 'is-loading' : ''" v-bind:disabled="state === 'pending'">
                      <span class="icon is-medium">
                        <i class="fa fa-floppy-o"></i>
                      </span>
                    </button>
                  </form>
                </tab>
              </template>
              <tab name="Slug" v-if="showSlugs">
                <div class="field">
                  <label class="label">Slug</label>
                  <slug :subjectId="subjectId" :objectId="id"></slug>
                </div>
              </tab>
            </tabs>
          </div>
        </div>
      </div>
    </div>
    <not-found-component v-else></not-found-component>
  </div>
</template>

<script>
  import store from '@/store'

  import Api from '@/api'
  import Slug from '@/components/Slug'
  import SlugTags from '@/components/SlugTags'
  import Tab from '@/components/Tab'
  import Tabs from '@/components/Tabs'

  import NotFoundComponent from '@/views/NotFoundComponent'

  import errorParser from '@/helpers/error-parser'
  import { beforeLeave } from '@/helpers/confirm-end'

  export default {
    components: {Tab, Tabs, Slug, SlugTags, NotFoundComponent},
    name: 'seo-item',
    created () {
      window.addEventListener('beforeunload', this.handlerBeforeUnload)
    },
    data () {
      return {
        id: store.state.route.params.id,
        subjectId: 4,
        state: undefined,
        slugs: [],
        showSlugs: false,
        mets: [],
        item: {},
        tags: [],
        tabs: {
          subdomain: {},
          language: {}
        }
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      const promiseItem = Api.items.get({id: this.id})
      const promiseMeta = Api.seoMeta.get({object_id: this.id, subject_id: this.subjectId})

      Promise.all([promiseItem, promiseMeta]).then(values => {
        this.item = values[0].body

        this.tabs.language = values[1].body.languages
        this.tabs.subdomain = values[1].body.subdomains

        this.tags = values[1].body.replacements
        this.mets = values[1].body.Mets

        this.$nextTick(() => {
          this.showSlugs = true

          this.$nextTick(() => {
            this.$children.forEach(children => {
              if (children.$options.name === 'tabs') {
                children.init()
              }
            })
          })
        })

        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    methods: {
      onSubmit (event) {
        if (this.state !== 'pending') {
          this.state = 'pending'

          const sendData = new FormData()
          const formData = new FormData(event.target)

          sendData.append('_method', 'PUT')

          for (let key of formData.keys()) {
            sendData.append(key, formData.get(key))
          }

          Api.seoMeta.save({}, sendData).then(({body}) => {
            this.tabs.language = body.languages
            this.tabs.subdomain = body.subdomains

            this.tags = body.replacements
            this.mets = body.Mets

            this.state = undefined
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })

            this.isSending = false
          })
        }
      },
      getValue (field, typeKey, key) {
        let language = typeKey === 'language' ? key : ''
        let subdomain = typeKey === 'subdomain' ? key : ''

        if (typeKey === 'subdomain') {
          language = 'ru'
        } else {
          subdomain = 'www'
        }

        const meta = this.mets.find(meta => meta.language === language && meta.subdomain === subdomain)

        return meta ? meta[field] : ''
      }
    },
    watch: {
      item () {
        this.form = {...this.form, ...this.item}
      },
      form: {
        handler () {
          this.changed()
        },
        deep: true
      }
    },
    beforeRouteLeave (to, from, next) {
      beforeLeave(this, to, from, next)
    }
  }
</script>

<style lang="scss">
  .table-slug {
    margin-bottom: 0;

    td {
      vertical-align: middle;
    }
  }
</style>