<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <message color="info">
            <p slot="header"><span class="icon"><i class="fa fa-info-circle"></i></span> Подсказка</p>
            Товар можно искать как по названию категории так и по артикулу
          </message>
          <div class="control has-icons-left">
            <input class="input input-head" placeholder="Поиск" v-model="search" ref="input" @keyup.enter="goIfOne">
              <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <div class="link-default">
            <router-link :to="{ name: 'seo-items-default' }" class="panel-block">По умолчанию</router-link>
          </div>
          <div class="menu">
            <div v-if="foundItems && foundItems.length" class="panel">
              <template v-for="item in foundItems">
                <router-link :to="{ name: 'seo-items', params: { id: item.id }}" class="panel-block" :class="item.enabled ? '' : 'panel-block_disabled'">
                  <template v-if="!item.enabled">
                    <i class="fa fa-trash-o"></i>
                  </template>
                  <span v-html="$options.filters.search(item.title, search)"></span>
                </router-link>
              </template>
            </div>
            <template v-for="category in filteredCategories">
              <div class="panel" v-if="category.subcategories && category.subcategories.length">
                <p class="panel-heading" v-html="$options.filters.search(category.title, search)"></p>
                <template v-for="subcategory in category.subcategories">
                  <router-link :to="{ name: 'seo-items-sublist', params: { id: subcategory.id }}" class="panel-block">
                    <span v-html="$options.filters.search(subcategory.title, search)"></span>
                  </router-link>
                </template>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import store from '@/store'
  import router from '@/router'

  import errorParser from '@/helpers/error-parser'

  import Message from '@/components/Message'
  import Api from '@/api'

  import debounce from 'debounce'

  export default {
    components: {Message},
    name: 'seo-subcategories',
    data () {
      return {
        search: store.state.route.query.search,
        categories: [],
        foundItems: []
      }
    },
    computed: {
      filteredCategories () {
        const newCategories = []

        if (this.categories.length) {
          this.categories.forEach((category) => {
            newCategories.push({title: category.title, subcategories: [], enabled: category.enabled})

            const newCategory = newCategories[newCategories.length - 1]

            category.subcategories.forEach((subcategory) => {
              if (new RegExp(this.search, 'i').test(subcategory.title)) {
                newCategory.subcategories.push(subcategory)
              }
            })
          })
        }

        return newCategories
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      this.$refs.input.focus()

      Api.seoCategories.get().then(res => {
        this.categories = res.body
        store.dispatch('pageload/complete')
      }, res => {
        store.commit('pageload/error')
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })
      })

      this.findItems()
    },
    watch: {
      search: function (val) {
        const query = {...store.state.route.query}

        query.search = val || undefined

        router.replace({query})

        this.findItems()
      }
    },
    methods: {
      findItems: debounce(function () {
        if (this.search) {
          Api.search.items.get({article: this.search}).then(res => {
            this.foundItems = res.body
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })
          })
        } else {
          this.foundItems = []
        }
      }, 200),
      goIfOne () {
        if (this.foundItems.length === 1) {
          router.push({
            name: 'content-hot',
            params: {
              id: this.foundItems[0].id
            }
          })
        }
      }
    },
    filters: {
      search (value, search) {
        return search ? value.replace(new RegExp(search, 'ig'), '<mark>$&</mark>') : value
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~bulma/sass/utilities/initial-variables";

  .input-head {
    margin-bottom: 15px
  }

  .panel-block_disabled {
    background-color: $white-bis;
  }

  .panel-block_disabled .fa-trash-o {
    margin-right: 5px;
  }

  .link-default {
    margin-bottom: 1.5rem;
  }
</style>