<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="box">
      <article class="message is-info">
        <div class="message-header">
          <p>
            <span class="icon">
              <i class="fa fa-info-circle"></i>
            </span> Подсказка</p>
          <button class="delete">
          </button>
        </div>
        <div class="message-body">
          Кнопка <div class="button is-small"><i class="fa fa-chain-broken"></i></div> - "связывает" два цвета превращая их в градиент
        </div>
      </article>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Название</th>
            <th :colspan="maxColorLength">Цвет</th>
            <th>Пример</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(color, index) in form">
            <td>{{ color.id }}</td>
            <td><input class="input" v-model="color.name"/></td>
            <td v-for="hexIndex in rangeHex()" class="td-btn">
              <template v-if="(hexIndex === 0 || color.hex[hexIndex - 1]) && !(hexIndex === 2 && color.gradient)">
                <div class="button btn-link" v-if="color.hex.length === 2 && hexIndex === 0" @click="linkedColor(color, !color.gradient)">
                  <i class="fa" :class="color.gradient ? 'fa-link' : 'fa-chain-broken'"></i>
                </div>
                <div class="field has-addons">
                  <div class="dropdown is-hoverable" :class="-(index - form.length) < 5 ? 'is-up' : ''">
                    <div class="dropdown-trigger">
                      <div class="field has-addons">
                        <div class="control">
                          <button class="button">
                          <span>
                            <template v-if="color.hex[hexIndex]">
                              #{{ color.hex[hexIndex] }}
                            </template>
                            <template v-else>
                              Выбрать цвет
                            </template>
                          </span>
                            <span class="icon is-small">
                            <i class="fa fa-angle-down"></i>
                          </span>
                          </button>
                        </div>
                        <div class="control" v-if="color.hex[hexIndex] && hexIndex !== 0 && !(hexIndex === 1 && color.gradient)">
                          <button class="button is-danger" @click="removeColor(color, hexIndex)">
                            <i class="fa fa-remove"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="dropdown-menu">
                      <sketch-picker :disableAlpha="true" :value="color.hex[hexIndex] || ''" @input="changeColor(color, hexIndex, $event)"></sketch-picker>
                    </div>
                  </div>
                </div>
              </template>
            </td>
            <td>
              <template v-if="color.hex.length === 1">
                <div class="color-box">
                  <div class="color-box-color" :style="'background-color: #' + color.hex[0] + ';'"></div>
                </div>
              </template>
              <template v-else-if="color.hex.length === 2 && !color.gradient">
                <div class="color-box is-double">
                  <div class="color-box-color" :style="'background-color: #' + color.hex[0] + ';'"></div>
                  <div class="color-box-color" :style="'background-color: #' + color.hex[1] + ';'"></div>
                </div>
              </template>
              <template v-else-if="color.hex.length === 2 && color.gradient">
                <div class="color-box">
                  <div class="color-box-color" :style="'background: linear-gradient(to right, #' + color.hex[0] + ' 0%, #' + color.hex[1] + ' 100%);'"></div>
                </div>
              </template>
              <template v-else-if="color.hex.length === 3">
                <div class="color-box is-triple">
                  <div class="color-box-color" :style="'background-color: #' + color.hex[0] + ';'"></div>
                  <div class="color-box-color" :style="'background-color: #' + color.hex[1] + ';'"></div>
                  <div class="color-box-color" :style="'background-color: #' + color.hex[2] + ';'"></div>
                </div>
              </template>
              <template v-else-if="color.hex.length === 4">
                <div class="color-box is-quadruple">
                  <div class="color-box-color" :style="'background-color: #' + color.hex[0] + ';'"></div>
                  <div class="color-box-color" :style="'background-color: #' + color.hex[1] + ';'"></div>
                  <div class="color-box-color" :style="'background-color: #' + color.hex[2] + ';'"></div>
                  <div class="color-box-color" :style="'background-color: #' + color.hex[3] + ';'"></div>
                </div>
              </template>
            </td>
            <td>
              <button class="button is-danger" @click="removeAdditionColor(color)" v-if="!color.id">
                <i class="fa fa-ban"></i>
              </button>
            </td>
          </tr>
          <tr>
            <template v-if="additionForm.active">
              <td></td>
              <td><input class="input" v-model="additionForm.data.name"/></td>
              <td v-for="hexIndex in rangeHex()" class="td-btn">
                <template v-if="(hexIndex === 0 || additionForm.data.hex[hexIndex - 1]) && !(hexIndex === 2 && additionForm.data.gradient)">
                  <div class="button btn-link" v-if="additionForm.data.hex.length === 2 && hexIndex === 0" @click="linkedColor(additionForm.data, !additionForm.data.gradient)">
                    <i class="fa" :class="additionForm.data.gradient ? 'fa-link' : 'fa-chain-broken'"></i>
                  </div>
                  <div class="field has-addons">
                    <div class="dropdown is-hoverable is-up">
                      <div class="dropdown-trigger">
                        <div class="field has-addons">
                          <div class="control">
                            <button class="button">
                          <span>
                            <template v-if="additionForm.data.hex[hexIndex]">
                              #{{ additionForm.data.hex[hexIndex] }}
                            </template>
                            <template v-else>
                              Выбрать цвет
                            </template>
                          </span>
                              <span class="icon is-small">
                            <i class="fa fa-angle-down"></i>
                          </span>
                            </button>
                          </div>
                          <div class="control" v-if="additionForm.data.hex[hexIndex] && hexIndex !== 0 && !(hexIndex === 1 && additionForm.data.gradient)">
                            <button class="button is-danger" @click="removeColor(additionForm.data, hexIndex)">
                              <i class="fa fa-remove"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="dropdown-menu">
                        <sketch-picker :disableAlpha="true" :value="additionForm.data.hex[hexIndex] || ''" @input="changeColor(additionForm.data, hexIndex, $event)"></sketch-picker>
                      </div>
                    </div>
                  </div>
                </template>
              </td>
              <td>
                <template v-if="additionForm.data.hex.length === 1">
                  <div class="color-box">
                    <div class="color-box-color" :style="'background-color: #' + additionForm.data.hex[0] + ';'"></div>
                  </div>
                </template>
                <template v-else-if="additionForm.data.hex.length === 2 && !additionForm.data.gradient">
                  <div class="color-box is-double">
                    <div class="color-box-color" :style="'background-color: #' + additionForm.data.hex[0] + ';'"></div>
                    <div class="color-box-color" :style="'background-color: #' + additionForm.data.hex[1] + ';'"></div>
                  </div>
                </template>
                <template v-else-if="additionForm.data.hex.length === 2 && additionForm.data.gradient">
                  <div class="color-box">
                    <div class="color-box-color" :style="'background: linear-gradient(to right, #' + additionForm.data.hex[0] + ' 0%, #' + additionForm.data.hex[1] + ' 100%);'"></div>
                  </div>
                </template>
                <template v-else-if="additionForm.data.hex.length === 3">
                  <div class="color-box is-triple">
                    <div class="color-box-color" :style="'background-color: #' + additionForm.data.hex[0] + ';'"></div>
                    <div class="color-box-color" :style="'background-color: #' + additionForm.data.hex[1] + ';'"></div>
                    <div class="color-box-color" :style="'background-color: #' + additionForm.data.hex[2] + ';'"></div>
                  </div>
                </template>
              </td>
              <td>
                <div class="field is-grouped is-pulled-right">
                  <div class="control">
                    <button class="button is-primary" @click="additionFormSave">
                      <i class="fa fa-floppy-o"></i>
                    </button>
                  </div>
                  <div class="control">
                    <button class="button is-danger" @click="additionFormClose">
                      <i class="fa fa-ban"></i>
                    </button>
                  </div>
                </div>
              </td>
            </template>
            <template v-else>
              <td colspan="5"><button class="button is-primary" @click="additionForm.active = true">Добавить</button></td>
            </template>
          </tr>
        </tbody>
      </table>
      <button class="button is-primary is-large is-circle is-fixed" :class="isSending ? 'is-loading' : ''" v-bind:disabled="isSending || !isChanged" @click="send">
        <span class="icon is-medium">
          <i class="fa fa-floppy-o"></i>
        </span>
      </button>
    </div>
  </div>
</template>

<script>
  import Api from '@/api'
  import store from '@/store'
  import router from '@/router'

  import { Sketch } from 'vue-color'

  import errorParser from '@/helpers/error-parser'
  import objectToFormData from '@/helpers/object-to-formdata'
  import { beforeLeave, beforeUnload } from '@/helpers/confirm-end'

  import { detailedDiff } from 'deep-object-diff'
  import mergeOptions from 'merge-options'

  export default {
    name: 'colors',
    components: {
      'sketch-picker': Sketch
    },
    created () {
      window.addEventListener('beforeunload', this.handlerBeforeUnload)
    },
    mounted () {
      store.commit('pageload/incomplete')

      Api.contentColors.getList().then(({body}) => {
        this.colors = body.map(color => {
          const gradient = /:/.test(color.hex)

          color.gradient = gradient

          color.hex = this.hexStringToArray(color.hex, gradient)

          return color
        })

        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    methods: {
      changed () {
        this.changes = detailedDiff(this.colors, this.form)
      },
      send () {
        const data = {
          _method: 'PUT'
        }
        const updated = []
        const added = []

        Object.entries(this.changes.deleted).forEach(([key, color]) => {
          if (color.hex) {
            Object.entries(color.hex).forEach(([hexNumber, value]) => {
              this.changes.updated[key] = this.changes.updated[key] || {}
              this.changes.updated[key].hex = this.changes.updated[key].hex || {}
              delete this.changes.updated[key].hex[hexNumber]
            })
          }
        })

        Object.entries(this.changes.added).forEach(([key, color]) => {
          const isOriginalColor = color.id
          if (isOriginalColor) {
            this.changes.updated[key] = mergeOptions({}, this.changes.updated[key], color)
          } else {
            if (color.hex || typeof color.gradient === 'boolean') {
              color.hex = this.arrayHexToString(color.hex, color.gradient)
            }

            added.push(color)
          }
        })

        Object.entries(this.changes.updated).forEach(([key, params]) => {
          const originalColor = this.form[key]

          const color = {
            id: originalColor.id
          }

          Object.entries(params).forEach(([keyParam, valueParam]) => {
            color[keyParam] = valueParam
          })

          if (color.hex || typeof color.gradient === 'boolean') {
            color.hex = Object.assign([], originalColor.hex, color.hex)
            color.hex = this.arrayHexToString(color.hex, typeof color.gradient === 'boolean' ? color.gradient : originalColor.gradient)
          }

          updated.push(color)
        })

        Api.contentColors.save(objectToFormData(mergeOptions({}, data, {updated, added}))).then(() => {
          this.changes = {}
          router.go(-1)
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })

          this.isSending = false
        })
      },
      removeColor (color, i) {
        color.hex.splice(i, 1)
      },
      linkedColor (color, value) {
        color.gradient = value
      },
      changeColor (color, hexIndex, $event) {
        this.$set(color.hex, hexIndex, $event.hex.slice(1))
      },
      hexStringToArray (hex, isGradient) {
        if (isGradient) {
          return hex.split(':')
        } else {
          return hex.split(',')
        }
      },
      arrayHexToString (hex, isGradient) {
        if (isGradient) {
          return hex.join(':')
        } else {
          console.log(hex)
          return hex.join(',')
        }
      },
      removeAdditionColor (color) {
        this.form.splice(this.form.findIndex(searchedColor => searchedColor === color), 1)
      },
      additionFormSave () {
        this.form.push(mergeOptions({}, this.additionForm.data))
        this.additionFormClose()
      },
      additionFormClose () {
        this.additionForm = {
          active: false,
          data: {
            name: '',
            gradient: false,
            hex: []
          }
        }
      },
      rangeHex () {
        const array = []

        for (let i = 0; i < this.maxColorLength; i++) {
          array.push(i)
        }

        return array
      },
      handlerBeforeUnload (event) {
        beforeUnload(this, event)
      }
    },
    beforeRouteLeave (to, from, next) {
      beforeLeave(this, to, from, next)
    },
    computed: {
      isChanged () {
        return !!Object.keys(this.changes).length && (Object.keys(this.changes.added).length || Object.keys(this.changes.deleted).length || Object.keys(this.changes.updated).length)
      },
      maxColorLength () {
        const length = Math.max.apply(null, this.form.map((color) => {
          return color.hex ? color.hex.length : 0
        })) + 1

        return length > this.maxColors ? this.maxColors : length
      }
    },
    data () {
      return {
        maxColors: 4,
        additionForm: {
          active: false,
          data: {
            name: '',
            gradient: false,
            hex: []
          }
        },
        isSending: false,
        changes: {
          added: {},
          deleted: {},
          updated: {}
        },
        form: [],
        colors: []
      }
    },
    watch: {
      colors () {
        this.form = mergeOptions({src: this.form}, {src: this.colors}).src
      },
      form: {
        handler () {
          this.changed()
        },
        deep: true
      }
    }
  }
</script>

<style scoped lang="scss">
  .table {
    margin-bottom: 0;

    td {
      vertical-align: middle;
    }
  }

  .color-box {
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid #eee;
    position: relative;
    overflow: hidden;
  }

  .color-box-color {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .color-box.is-double {
    .color-box-color {
      transform: rotate(45deg);
      width: 150%;
      height: 150%;
    }

    .color-box-color:first-child {
      top: -4px;
      left: -4px;
    }

    .color-box-color:last-child {
      top: 4px;
      left: 4px;
    }
  }

  .color-box.is-triple {
    .color-box-color:nth-child(1) {
      z-index: 2;
      left: -10px;
    }

    .color-box-color:nth-child(2) {
      z-index: 1;
    }

    .color-box-color:nth-child(3) {
      z-index: 2;
      left: 10px;
    }
  }

  .color-box.is-quadruple {
    background-color: black;

    .color-box-color {
      transform: rotate(45deg);
    }
    .color-box-color:nth-child(1) {
      top: 0;
      left: -10px;
    }

    .color-box-color:nth-child(2) {
      top: -10px;
      left: 0;
    }

    .color-box-color:nth-child(3) {
      top: 0;
      left: 10px;
    }

    .color-box-color:nth-child(4) {
      top: 10px;
      left: 0;
    }
  }

  .td-btn {
    position: relative;
  }

  .btn-link {
    position: absolute;
    top: 8px;
    right: 0;
  }
</style>