<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="box">
      <table class="table">
        <thead>
          <tr>
            <th>Название</th>
            <th>Количество</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <template v-for="manufacturer in manufacturers">
            <tr>
              <td title="Название">
                <template v-if="manufacturer.isEdited">
                  <input v-model="manufacturer.production" class="input" />
                </template>
                <template v-else>
                  {{ manufacturer.production }}
                </template>
              </td>
              <td title="Количество">{{ manufacturer.production_count }}</td>
              <td>
                <div class="field is-grouped is-pulled-right">
                  <template v-if="manufacturer.isEdited">
                    <p class="control">
                      <button class="button is-primary" @click="save(manufacturer, $event)"><i class="fa fa-floppy-o"></i></button>
                    </p>
                    <p class="control">
                      <button class="button is-danger" @click="close(manufacturer)"><i class="fa fa-ban"></i></button>
                    </p>
                  </template>
                  <template v-else>
                    <p class="control">
                      <button class="button" @click="edited(manufacturer)"><i class="fa fa-pencil"></i></button>
                    </p>
                  </template>
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import store from '@/store'
  import Api from '@/api'

  import errorParser from '@/helpers/error-parser'

  export default {
    name: 'manufacturers',
    data () {
      return {
        manufacturers: []
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      this.loadManufacturers().then(() => {
        store.dispatch('pageload/complete')
      })
    },
    methods: {
      loadManufacturers () {
        return Api.contentManufacturers.get().then(res => {
          this.manufacturers = res.body.map(manufacturer => {
            manufacturer.isEdited = false
            manufacturer._original = {...manufacturer}
            return manufacturer
          })

          store.dispatch('pageload/complete')
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })

          store.commit('pageload/error')
        })
      },
      edited (manufacturer) {
        manufacturer.isEdited = true
      },
      close (manufacturer) {
        manufacturer = Object.assign(manufacturer, manufacturer._original)
        manufacturer.isEdited = false
      },
      save (manufacturer, event) {
        event.target.classList.add('is-loading')

        Api.contentManufacturers.update({manufacturer_old: manufacturer._original.production, manufacturer_new: manufacturer.production}).then(() => {
          manufacturer.isEdited = false
          this.loadManufacturers()
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })

          event.target.classList.remove('is-loading')
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  .table {
    margin-bottom: 0;

    td {
      vertical-align: middle;
    }
  }
</style>