<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="box">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Имя</th>
          <th>Телефон</th>
          <th>Email</th>
          <th>Активен</th>
          <th>Порядок</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <template v-if="form.visible">
            <td></td>
            <td title="Имя">
              <input v-model="form.title" class="input" ref="title" />
            </td>
            <td title="Телефон">
              <input v-model="form.phone" class="input" type="tel" />
            </td>
            <td title="Email">
              <input v-model="form.email" class="input" type="email" />
            </td>
            <td title="Активен">
              <span class="checkbox">
                <input v-model="form.enabled" checked type="checkbox" />
              </span>
            </td>
            <td title="Порядок">
              <input v-model="form.ord" class="input" type="number" value="0" />
            </td>
            <td class="is-narrow">
              <div class="field is-grouped is-pulled-right">
                <p class="control">
                  <button class="button is-primary" v-on:click="saveForm"><i class="fa fa-floppy-o"></i></button>
                </p>
                <p class="control">
                  <button class="button is-danger" v-on:click="closeForm"><i class="fa fa-ban"></i></button>
                </p>
              </div>
            </td>
          </template>
          <template v-else>
            <td colspan="7">
              <div class="field is-grouped" v-if="!form.visible">
                <div class="control">
                  <button class="button is-primary" v-on:click="openForm">Добавить</button>
                </div>
              </div>
            </td>
          </template>
        </tr>
        <template v-for="manager in managers">
          <tr>
            <td title="ID">{{ manager.id }}</td>
            <td title="Имя">
              <template v-if="manager.isEdited">
                <input v-model="manager.title" class="input" />
              </template>
              <template v-else>
                {{ manager.title }}
              </template>
            </td>
            <td title="Телефон">
              <template v-if="manager.isEdited">
                <input v-model="manager.phone" class="input" type="phone" />
              </template>
              <template v-else>
                {{ manager.phone }}
              </template>
            </td>
            <td title="Email">
              <template v-if="manager.isEdited">
                <input v-model="manager.email" class="input" type="email" />
              </template>
              <template v-else>
                {{ manager.email }}
              </template>
            </td>
            <td title="Активен">
              <template v-if="manager.isEdited">
                <span class="checkbox">
                  <input v-model="manager.enabled" type="checkbox" />
                </span>
              </template>
              <template v-else>
                {{ manager.enabled ? 'Да' : 'Нет' }}
              </template>
            </td>
            <td title="Порядок">
              <template v-if="manager.isEdited">
                <input v-model="manager.ord" class="input" type="number" />
              </template>
              <template v-else>
                {{ manager.ord }}
              </template>
            </td>
            <td>
              <div class="field is-grouped is-pulled-right">
                <template v-if="manager.isEdited">
                  <p class="control">
                    <button class="button is-primary" v-on:click="save(manager, $event)"><i class="fa fa-floppy-o"></i></button>
                  </p>
                  <p class="control">
                    <button class="button is-danger" v-on:click="close(manager)"><i class="fa fa-ban"></i></button>
                  </p>
                </template>
                <template v-else>
                  <p class="control">
                    <button class="button" v-on:click="edited(manager)"><i class="fa fa-pencil"></i></button>
                  </p>
                  <p class="control">
                    <button class="button is-danger" v-on:click="remove(manager, $event)"><i class="fa fa-remove"></i></button>
                  </p>
                </template>
              </div>
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import store from '@/store'

  import Api from '@/api'

  import errorParser from '@/helpers/error-parser'

  export default {
    name: 'managers',
    data () {
      return {
        managers: [],
        form: {
          visible: false,
          enabled: true,
          ord: 0
        }
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      this.loadManagers().then(() => {
        store.dispatch('pageload/complete')
      })
    },
    methods: {
      loadManagers () {
        return Api.contentManagers.get().then(res => {
          this.managers = res.body.map(manager => {
            manager.isEdited = false
            manager._original = {...manager}
            return manager
          })

          store.dispatch('pageload/complete')
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })

          store.commit('pageload/error')
        })
      },
      edited (manager) {
        manager.isEdited = true
      },
      close (manager) {
        manager = Object.assign(manager, manager._original)
        manager.isEdited = false
      },
      save (manager, event) {
        event.target.classList.add('is-loading')

        Api.contentManagers.update({id: manager.id}, manager).then(() => {
          manager.isEdited = false
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      },
      remove (manager, event) {
        if (confirm('Вы действительно хотите удалить "' + manager.title + '"?')) {
          event.target.classList.add('is-loading')

          Api.contentManagers.delete({id: manager.id}).then(() => {
            this.loadManagers()
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })
          })
        }
      },
      saveForm () {
        Api.contentManagers.save({}, this.form).then(res => {
          this.loadManagers()
          this.closeForm()
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      },
      closeForm () {
        this.form = {
          visible: false,
          enabled: true,
          ord: 0
        }
      },
      openForm () {
        this.form.visible = true
      }
    }
  }
</script>

<style scoped lang="scss">
  .table {
    margin-bottom: 0;

    td {
      vertical-align: middle;
    }
  }
</style>