<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="box">
      <table class="table">
        <thead>
          <tr>
            <th>Название</th>
            <th>Предосмотр</th>
            <th>Количество</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="undertitle in undertitles">
            <td title="Название">
              <template v-if="undertitle.isEdited">
                <textarea v-model="undertitle.under_title" class="textarea" rows="3"></textarea>
                <div class="select" style="margin-top: 10px;">
                  <select v-model="undertitle.under_title_color">
                    <option value="">Серый</option>
                    <option value="primary">Оранжевый</option>
                    <option value="secondary">Зеленый</option>
                  </select>
                </div>
              </template>
              <template v-else>
                {{ undertitle.under_title }}
              </template>
            </td>
            <td>
              <div :class="'promo_' + undertitle.under_title_color" class="promo" v-if="undertitle.under_title" v-html="undertitle.under_title.replace(/(?:\r\n|\r|\n)/g, '<br/>')"></div>
            </td>
            <td title="Количество">{{ undertitle.under_title_count }}</td>
            <td>
              <div class="field is-grouped is-pulled-right">
                <template v-if="undertitle.isEdited">
                  <p class="control">
                    <button class="button is-primary" @click="save(undertitle, $event)"><i class="fa fa-floppy-o"></i></button>
                  </p>
                  <p class="control">
                    <button class="button is-danger" @click="close(undertitle)"><i class="fa fa-ban"></i></button>
                  </p>
                </template>
                <template v-else>
                  <p class="control">
                    <button class="button" @click="edited(undertitle)"><i class="fa fa-pencil"></i></button>
                  </p>
                </template>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import store from '@/store'
  import Api from '@/api'

  import errorParser from '@/helpers/error-parser'

  export default {
    name: 'undertitles',
    data () {
      return {
        undertitles: []
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      this.loadUndertitles().then(() => {
        store.dispatch('pageload/complete')
      })
    },
    methods: {
      loadUndertitles () {
        return Api.contentUndertitles.get().then(res => {
          this.undertitles = res.body.map(undertitle => {
            undertitle.isEdited = false
            undertitle.under_title_color = undertitle.under_title_color || ''
            undertitle._original = {...undertitle}
            return undertitle
          })

          store.dispatch('pageload/complete')
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })

          store.commit('pageload/error')
        })
      },
      edited (undertitle) {
        undertitle.isEdited = true
      },
      close (undertitle) {
        undertitle = Object.assign(undertitle, undertitle._original)
        undertitle.isEdited = false
      },
      save (undertitle, event) {
        event.target.classList.add('is-loading')

        Api.contentUndertitles.update({
          under_title_old: undertitle._original.under_title,
          under_title_new: undertitle.under_title,
          under_title_color_old: undertitle._original.under_title_color,
          under_title_color_new: undertitle.under_title_color
        }).then(() => {
          undertitle.isEdited = false
          this.loadUndertitles()
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })

          event.target.classList.remove('is-loading')
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  .table {
    margin-bottom: 0;

    td {
      vertical-align: middle;
    }
  }

  .promo {
    font-size: 13px;
    line-height: 16px;
    background-color: #eee;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    margin-top: 14px;
    padding: 7px 9px;
    border-radius: 1px;
    color: #000;

    &:after {
      bottom: 100%;
      left: 13px;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-bottom-color: #eee;
      border-width: 7px;
      margin-left: -7px;
      border-style: solid;
    }

    &_secondary {
      color: #00997b;
      background-color: #ccebe5;

      &:after {
        border-bottom-color: #ccebe5;
      }
    }

    &_primary {
      color: #c54004;
      background-color: #f2e1cb;

      &:after {
        border-bottom-color: #f2e1cb;
      }
    }
  }
</style>